In [1]:
import pandas as pd
import numpy as np
import json 
from sklearn.preprocessing import MinMaxScaler

## Read In Main CSV from Kaggle

In [2]:
file = "winemag-data_first150k.csv"

In [3]:
wine_df = pd.read_csv(file)

In [4]:
wine_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [5]:
wine_df.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'variety', 'winery'],
      dtype='object')

## Clean Main CSV Data

In [6]:
reduced_wine_df = wine_df.loc[:, ["country", "points", "price", "province", "region_1", "variety", "winery"]]
reduced_wine_df

,country,points,price,province,region_1,variety,winery
0,US,96,235.0,California,Napa Valley,Cabernet Sauvignon,Heitz
1,Spain,96,110.0,Northern Spain,Toro,Tinta de Toro,Bodega Carmen Rodríguez
2,US,96,90.0,California,Knights Valley,Sauvignon Blanc,Macauley
3,US,96,65.0,Oregon,Willamette Valley,Pinot Noir,Ponzi
4,France,95,66.0,Provence,Bandol,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...
150925,Italy,91,20.0,Southern Italy,Fiano di Avellino,White Blend,Feudi di San Gregorio
150926,France,91,27.0,Champagne,Champagne,Champagne Blend,H.Germain
150927,Italy,91,20.0,Southern Italy,Fiano di Avellino,White Blend,Terredora
150928,France,90,52.0,Champagne,Champagne,Champagne Blend,Gosset
150929,Italy,90,15.0,Northeastern Italy,Alto Adige,Pinot Grigio,Alois Lageder

In [7]:
reduced_wine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150930 entries, 0 to 150929
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   country   150925 non-null  object
 1   points    150930 non-null  int64
 2   price     137235 non-null  float64
 3   province  150925 non-null  object
 4   region_1  125870 non-null  object
 5   variety   150930 non-null  object
 6   winery    150930 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 8.1+ MB

In [8]:
reduced_wine_df.count()

country     150925
points      150930
price       137235
province    150925
region_1    125870
variety     150930
winery      150930
dtype: int64

In [9]:
reduced_wine_df2 = reduced_wine_df.dropna(how="any")
reduced_wine_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114393 entries, 0 to 150929
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   country   114393 non-null  object
 1   points    114393 non-null  int64
 2   price     114393 non-null  float64
 3   province  114393 non-null  object
 4   region_1  114393 non-null  object
 5   variety   114393 non-null  object
 6   winery    114393 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 7.0+ MB

In [10]:
reduced_wine_df2.count()

country     114393
points      114393
price       114393
province    114393
region_1    114393
variety     114393
winery      114393
dtype: int64

In [11]:
reduced_wine_df2

,country,points,price,province,region_1,variety,winery
0,US,96,235.0,California,Napa Valley,Cabernet Sauvignon,Heitz
1,Spain,96,110.0,Northern Spain,Toro,Tinta de Toro,Bodega Carmen Rodríguez
2,US,96,90.0,California,Knights Valley,Sauvignon Blanc,Macauley
3,US,96,65.0,Oregon,Willamette Valley,Pinot Noir,Ponzi
4,France,95,66.0,Provence,Bandol,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...
150925,Italy,91,20.0,Southern Italy,Fiano di Avellino,White Blend,Feudi di San Gregorio
150926,France,91,27.0,Champagne,Champagne,Champagne Blend,H.Germain
150927,Italy,91,20.0,Southern Italy,Fiano di Avellino,White Blend,Terredora
150928,France,90,52.0,Champagne,Champagne,Champagne Blend,Gosset
150929,Italy,90,15.0,Northeastern Italy,Alto Adige,Pinot Grigio,Alois Lageder

## Read in CSV Red Wine CSV (From Previous Group's Project)

In [12]:
file2 = "Wine_Reds.csv"

In [13]:
red_wine_df = pd.read_csv(file2)
red_wine_df

                  Variety  Counts   Red?
0              Chardonnay   13775  False
1              Pinot Noir   13625   True
2      Cabernet Sauvignon   12671   True
3               Red Blend    9377   True
4         Sauvignon Blanc    6054  False
..                    ...     ...    ...
614        Bombino Bianco       1    NaN
615             Magliocco       1    NaN
616  Merlot-Petite Verdot       1    NaN
617           Moscofilero       1    NaN
618                Kuntra       1    NaN

[619 rows x 3 columns]

## Clean Red Wine CSV Data

In [14]:
renamed_red_wine = red_wine_df.rename(columns = {'Variety': 'variety', 'Red?': 'red' })
renamed_red_wine

                  variety  Counts    red
0              Chardonnay   13775  False
1              Pinot Noir   13625   True
2      Cabernet Sauvignon   12671   True
3               Red Blend    9377   True
4         Sauvignon Blanc    6054  False
..                    ...     ...    ...
614        Bombino Bianco       1    NaN
615             Magliocco       1    NaN
616  Merlot-Petite Verdot       1    NaN
617           Moscofilero       1    NaN
618                Kuntra       1    NaN

[619 rows x 3 columns]

## Merge Main DataSet w/Red Wine Dataset for types of wine

In [15]:
merge_df = pd.merge(reduced_wine_df2, renamed_red_wine, on="variety")
merge_df

,country,points,price,province,region_1,variety,winery,Counts,red
0,US,96,235.0,California,Napa Valley,Cabernet Sauvignon,Heitz,12671,True
1,US,95,325.0,California,Diamond Mountain District,Cabernet Sauvignon,Hall,12671,True
2,US,90,60.0,California,Mount Veeder,Cabernet Sauvignon,Brandlin,12671,True
3,US,90,40.0,Washington,Red Mountain,Cabernet Sauvignon,Canvasback,12671,True
4,US,90,69.0,Washington,Red Mountain,Cabernet Sauvignon,DeLille,12671,True
...,...,...,...,...,...,...,...,...,...
114388,France,88,19.0,Alsace,Alsace,Tokay Pinot Gris,Rieflé,4,NaN
114389,France,87,41.0,Alsace,Alsace,Tokay Pinot Gris,Rieflé,4,NaN
114390,Italy,84,9.0,Tuscany,Toscana,Chardonnay-Pinot Grigio,Banfi,1,NaN
114391,Spain,84,12.0,Northern Spain,Somontano,Moristel,Alquézar,1,NaN
114392,Australia,87,14.0,Western Australia,Western Australia,Carnelian,Windshaker Ridge,1,NaN

## Clean Merged Data

In [16]:
merge_df2 = merge_df.loc[:, ["country", "points", "price", "province", "region_1", "variety", "winery", "red"]]
merge_df2

,country,points,price,province,region_1,variety,winery,red
0,US,96,235.0,California,Napa Valley,Cabernet Sauvignon,Heitz,True
1,US,95,325.0,California,Diamond Mountain District,Cabernet Sauvignon,Hall,True
2,US,90,60.0,California,Mount Veeder,Cabernet Sauvignon,Brandlin,True
3,US,90,40.0,Washington,Red Mountain,Cabernet Sauvignon,Canvasback,True
4,US,90,69.0,Washington,Red Mountain,Cabernet Sauvignon,DeLille,True
...,...,...,...,...,...,...,...,...
114388,France,88,19.0,Alsace,Alsace,Tokay Pinot Gris,Rieflé,NaN
114389,France,87,41.0,Alsace,Alsace,Tokay Pinot Gris,Rieflé,NaN
114390,Italy,84,9.0,Tuscany,Toscana,Chardonnay-Pinot Grigio,Banfi,NaN
114391,Spain,84,12.0,Northern Spain,Somontano,Moristel,Alquézar,NaN
114392,Australia,87,14.0,Western Australia,Western Australia,Carnelian,Windshaker Ridge,NaN

In [17]:
reduced_wine_df3 = merge_df2.dropna(how="any")
reduced_wine_df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113882 entries, 0 to 114339
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   country   113882 non-null  object
 1   points    113882 non-null  int64
 2   price     113882 non-null  float64
 3   province  113882 non-null  object
 4   region_1  113882 non-null  object
 5   variety   113882 non-null  object
 6   winery    113882 non-null  object
 7   red       113882 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 7.8+ MB

In [18]:
reduced_wine_df3

,country,points,price,province,region_1,variety,winery,red
0,US,96,235.0,California,Napa Valley,Cabernet Sauvignon,Heitz,True
1,US,95,325.0,California,Diamond Mountain District,Cabernet Sauvignon,Hall,True
2,US,90,60.0,California,Mount Veeder,Cabernet Sauvignon,Brandlin,True
3,US,90,40.0,Washington,Red Mountain,Cabernet Sauvignon,Canvasback,True
4,US,90,69.0,Washington,Red Mountain,Cabernet Sauvignon,DeLille,True
...,...,...,...,...,...,...,...,...
114310,Italy,87,24.0,Northeastern Italy,Alto Adige,Silvaner,Abbazia di Novacella,False
114311,Italy,87,24.0,Northeastern Italy,Alto Adige,Silvaner,Abbazia di Novacella,False
114312,Italy,87,24.0,Northeastern Italy,Alto Adige,Silvaner,Abbazia di Novacella,False
114313,France,88,14.0,Alsace,Alsace,Silvaner,Domaines Schlumberger,False
114339,US,88,42.0,California,California,Madeira Blend,V. Sattui,True

In [19]:
reduced_wine_df3 = reduced_wine_df3.replace(
    {1:"red wine", 0:"white wine"})
reduced_wine_df3

,country,points,price,province,region_1,variety,winery,red
0,US,96,235.0,California,Napa Valley,Cabernet Sauvignon,Heitz,red wine
1,US,95,325.0,California,Diamond Mountain District,Cabernet Sauvignon,Hall,red wine
2,US,90,60.0,California,Mount Veeder,Cabernet Sauvignon,Brandlin,red wine
3,US,90,40.0,Washington,Red Mountain,Cabernet Sauvignon,Canvasback,red wine
4,US,90,69.0,Washington,Red Mountain,Cabernet Sauvignon,DeLille,red wine
...,...,...,...,...,...,...,...,...
114310,Italy,87,24.0,Northeastern Italy,Alto Adige,Silvaner,Abbazia di Novacella,white wine
114311,Italy,87,24.0,Northeastern Italy,Alto Adige,Silvaner,Abbazia di Novacella,white wine
114312,Italy,87,24.0,Northeastern Italy,Alto Adige,Silvaner,Abbazia di Novacella,white wine
114313,France,88,14.0,Alsace,Alsace,Silvaner,Domaines Schlumberger,white wine
114339,US,88,42.0,California,California,Madeira Blend,V. Sattui,red wine

In [20]:
renamed_merge_df1 = reduced_wine_df3.rename(columns = {'red': 'type'})
renamed_merge_df1

,country,points,price,province,region_1,variety,winery,type
0,US,96,235.0,California,Napa Valley,Cabernet Sauvignon,Heitz,red wine
1,US,95,325.0,California,Diamond Mountain District,Cabernet Sauvignon,Hall,red wine
2,US,90,60.0,California,Mount Veeder,Cabernet Sauvignon,Brandlin,red wine
3,US,90,40.0,Washington,Red Mountain,Cabernet Sauvignon,Canvasback,red wine
4,US,90,69.0,Washington,Red Mountain,Cabernet Sauvignon,DeLille,red wine
...,...,...,...,...,...,...,...,...
114310,Italy,87,24.0,Northeastern Italy,Alto Adige,Silvaner,Abbazia di Novacella,white wine
114311,Italy,87,24.0,Northeastern Italy,Alto Adige,Silvaner,Abbazia di Novacella,white wine
114312,Italy,87,24.0,Northeastern Italy,Alto Adige,Silvaner,Abbazia di Novacella,white wine
114313,France,88,14.0,Alsace,Alsace,Silvaner,Domaines Schlumberger,white wine
114339,US,88,42.0,California,California,Madeira Blend,V. Sattui,red wine

In [21]:
renamed_merge_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113882 entries, 0 to 114339
Data columns (total 8 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   country   113882 non-null  object
 1   points    113882 non-null  int64
 2   price     113882 non-null  float64
 3   province  113882 non-null  object
 4   region_1  113882 non-null  object
 5   variety   113882 non-null  object
 6   winery    113882 non-null  object
 7   type      113882 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 7.8+ MB

## Read in Province CSV for Red Wine (From Previous Group's Project) to get Lat/Longs for Province

In [22]:
file3 = "Red_Wine_Provinces.csv"

In [23]:
province_redwine = pd.read_csv(file3)
province_redwine

,Unnamed: 0,province,red_wine_counts,latitude,longtitude
0,0,California,32247,36.778261,-119.417932
1,1,Washington,7303,47.751074,-120.740139
2,2,Tuscany,5542,43.771051,11.248621
3,3,Mendoza Province,3982,-32.889625,-68.852687
4,4,Northern Spain,3877,42.816977,-1.641765
...,...,...,...,...,...
338,338,Central Otago-Marlborough,1,-44.956632,169.398845
339,339,Arcadia,1,34.139729,-118.035345
340,340,Cyprus,1,35.126413,33.429859
341,341,Dolenjska,1,45.755858,15.059233
342,342,Istria,1,45.274502,13.890186

## Merge with Main Data Set with Red Province

In [24]:
merge_df3 = pd.merge(renamed_merge_df1, province_redwine, on="province")
merge_df3

,country,points,price,province,region_1,variety,winery,type,Unnamed: 0,red_wine_counts,latitude,longtitude
0,US,96,235.0,California,Napa Valley,Cabernet Sauvignon,Heitz,red wine,0,32247,36.778261,-119.417932
1,US,95,325.0,California,Diamond Mountain District,Cabernet Sauvignon,Hall,red wine,0,32247,36.778261,-119.417932
2,US,90,60.0,California,Mount Veeder,Cabernet Sauvignon,Brandlin,red wine,0,32247,36.778261,-119.417932
3,US,91,85.0,California,Napa Valley,Cabernet Sauvignon,Michael Mondavi Family Estate,red wine,0,32247,36.778261,-119.417932
4,US,91,60.0,California,Rutherford,Cabernet Sauvignon,Provenance Vineyards,red wine,0,32247,36.778261,-119.417932
...,...,...,...,...,...,...,...,...,...,...,...,...
113866,Spain,85,15.0,Spanish Islands,Vi de la Terra Illes Balears,White Blend,Ànima Negra,white wine,112,24,39.358776,2.735633
113867,Spain,85,15.0,Spanish Islands,Vi de la Terra Illes Balears,White Blend,Ànima Negra,white wine,112,24,39.358776,2.735633
113868,Spain,82,20.0,Spanish Islands,Lanzarote,Rosado,El Grifo,red wine,112,24,39.358776,2.735633
113869,Spain,85,20.0,Spanish Islands,Lanzarote,Malvasia,El Grifo,white wine,112,24,39.358776,2.735633
113870,US,84,75.0,Nevada,Nevada,Zinfandel,Pahrump Valley Winery,red wine,335,1,38.802610,-116.419389

## Clean Main Dataframe

In [25]:
Final_Wine_Data = merge_df3.loc[:, ["country", "points", "price", "province", "region_1", "variety", "winery", "type", "latitude", "longtitude"]]
Final_Wine_Data

,country,points,price,province,region_1,variety,winery,type,latitude,longtitude
0,US,96,235.0,California,Napa Valley,Cabernet Sauvignon,Heitz,red wine,36.778261,-119.417932
1,US,95,325.0,California,Diamond Mountain District,Cabernet Sauvignon,Hall,red wine,36.778261,-119.417932
2,US,90,60.0,California,Mount Veeder,Cabernet Sauvignon,Brandlin,red wine,36.778261,-119.417932
3,US,91,85.0,California,Napa Valley,Cabernet Sauvignon,Michael Mondavi Family Estate,red wine,36.778261,-119.417932
4,US,91,60.0,California,Rutherford,Cabernet Sauvignon,Provenance Vineyards,red wine,36.778261,-119.417932
...,...,...,...,...,...,...,...,...,...,...
113866,Spain,85,15.0,Spanish Islands,Vi de la Terra Illes Balears,White Blend,Ànima Negra,white wine,39.358776,2.735633
113867,Spain,85,15.0,Spanish Islands,Vi de la Terra Illes Balears,White Blend,Ànima Negra,white wine,39.358776,2.735633
113868,Spain,82,20.0,Spanish Islands,Lanzarote,Rosado,El Grifo,red wine,39.358776,2.735633
113869,Spain,85,20.0,Spanish Islands,Lanzarote,Malvasia,El Grifo,white wine,39.358776,2.735633
113870,US,84,75.0,Nevada,Nevada,Zinfandel,Pahrump Valley Winery,red wine,38.802610,-116.419389

In [26]:
Final_Wine_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113871 entries, 0 to 113870
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   country     113871 non-null  object
 1   points      113871 non-null  int64
 2   price       113871 non-null  float64
 3   province    113871 non-null  object
 4   region_1    113871 non-null  object
 5   variety     113871 non-null  object
 6   winery      113871 non-null  object
 7   type        113871 non-null  object
 8   latitude    113871 non-null  float64
 9   longtitude  113871 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 9.6+ MB

## Export Final Wine Data to CSV/Json

In [ ]:
# Final_Wine_Data.to_csv('Final_Wine_Data.csv', index=True)
# Final_Wine_Data.to_json('Final_Wine_Data.csv', index=True)

## Subset Data for All 3 Plotty Charts & Maps

In [27]:
Top_100_Red = Final_Wine_Data.loc[Final_Wine_Data.type == 'red wine'].sort_values(by=['points'], ascending=False).head(100)
Top_100_White = Final_Wine_Data.loc[Final_Wine_Data.type == 'white wine'].sort_values(by=['points'], ascending=False).head(100)

In [28]:
Top_100_Red

,country,points,price,province,region_1,variety,winery,type,latitude,longtitude
73169,US,100,65.0,Oregon,Walla Walla Valley (OR),Syrah,Cayuse,red wine,43.804133,-120.554201
63293,Italy,100,460.0,Tuscany,Toscana,Merlot,Tenuta dell'Ornellaia,red wine,43.771051,11.248621
4206,US,100,215.0,California,Stags Leap District,Cabernet Sauvignon,Shafer,red wine,36.778261,-119.417932
73199,US,100,65.0,Oregon,Walla Walla Valley (OR),Syrah,Cayuse,red wine,43.804133,-120.554201
16010,US,100,100.0,California,Russian River Valley,Pinot Noir,Williams Selyem,red wine,36.778261,-119.417932
...,...,...,...,...,...,...,...,...,...,...
62352,Italy,98,175.0,Tuscany,Bolgheri Superiore,Red Blend,Tenuta dell'Ornellaia,red wine,43.771051,11.248621
68701,Australia,98,850.0,South Australia,South Australia,Shiraz,Penfolds,red wine,-30.000232,136.209155
62696,Italy,98,175.0,Tuscany,Bolgheri Superiore,Red Blend,Tenuta dell'Ornellaia,red wine,43.771051,11.248621
42567,US,98,110.0,California,Rutherford,Cabernet Blend,Rubicon Estate,red wine,36.778261,-119.417932
38527,US,98,175.0,California,Napa Valley,Bordeaux-style Red Blend,Colgin,red wine,36.778261,-119.417932

In [29]:
Top_Wine = pd.concat([Top_100_Red, Top_100_White], axis= 0, ignore_index=True)
Top_Wine.value_counts('province')

province
California            45
Tuscany               40
Champagne             29
Burgundy              23
Victoria              15
Bordeaux              13
Oregon                10
Washington             7
Rhône Valley           4
Piedmont               4
Alsace                 4
South Australia        3
Northeastern Italy     2
Northern Spain         1
dtype: int64

## Export Subset to Json

In [ ]:
# Top_Wine.to_json('Top_Wine.json', index=True)
# Top_100_Red.to_json('Top_100_Red.json', index=True)
# Top_100_White.to_json('Top_100_White.json', index=True)

## Subset Data for Scattered Bubble Chart

In [30]:
Final_Wine_Data.province.value_counts()

California              44294
Washington               9664
Tuscany                  5950
Northern Spain           4774
Mendoza Province         4690
Oregon                   4560
Burgundy                 3340
Veneto                   3088
South Australia          2948
Piedmont                 2882
Bordeaux                 2656
New York                 2411
Sicily & Sardinia        2006
Northeastern Italy       1833
Loire Valley             1382
Alsace                   1353
Catalonia                1314
Southwest France         1286
Central Italy            1236
Rhône Valley             1221
Southern Italy           1119
Champagne                1089
Languedoc-Roussillon     1012
Other                     878
Provence                  817
Central Spain             726
Victoria                  602
Australia Other           550
Galicia                   539
Virginia                  506
Western Australia         486
Levante                   443
Lombardy                  439
Beaujolais                303
New South Wales           243
France Other              225
Andalucia                 194
British Columbia           96
New Mexico                 95
Ontario                    90
Missouri                   56
Italy Other                51
Pennsylvania               50
Tasmania                   45
Spain Other                44
Texas                      40
Arizona                    36
Ohio                       34
Spanish Islands            33
Idaho                      30
Colorado                   30
New Jersey                 24
Michigan                   23
North Carolina             20
Massachusetts               8
Iowa                        3
Kentucky                    3
Nevada                      1
Name: province, dtype: int64

## Clean Data

In [31]:
wine_bubble = Final_Wine_Data.loc[:, ["points", "province", "type"]]
wine_bubble

        points         province        type
0           96       California    red wine
1           95       California    red wine
2           90       California    red wine
3           91       California    red wine
4           91       California    red wine
...        ...              ...         ...
113866      85  Spanish Islands  white wine
113867      85  Spanish Islands  white wine
113868      82  Spanish Islands    red wine
113869      85  Spanish Islands  white wine
113870      84           Nevada    red wine

[113871 rows x 3 columns]

In [32]:
red_wine_bubble = wine_bubble.loc[wine_bubble.type == 'red wine'].sort_values(by=['province'], ascending=False)
red_wine_bubble2 = red_wine_bubble.groupby('province').mean('points').round(1)

merge_df4 = pd.merge(red_wine_bubble, red_wine_bubble2, on="province")
merge_df5 = merge_df4.rename(columns = {'points_y': 'avg_points'})
Final_red_bubble = merge_df5.loc[:, ["province", "type", "avg_points"]]
Final_red_bubble

                province      type  avg_points
0      Western Australia  red wine        88.1
1      Western Australia  red wine        88.1
2      Western Australia  red wine        88.1
3      Western Australia  red wine        88.1
4      Western Australia  red wine        88.1
...                  ...       ...         ...
81287             Alsace  red wine        88.4
81288             Alsace  red wine        88.4
81289             Alsace  red wine        88.4
81290             Alsace  red wine        88.4
81291             Alsace  red wine        88.4

[81292 rows x 3 columns]

In [33]:
Final_red_bubble2 = Final_red_bubble.loc[Final_red_bubble.duplicated(keep='last'), :]
Final_red_bubble3 = Final_red_bubble2.drop_duplicates()
Final_red_bubble3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55 entries, 0 to 80896
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   province    55 non-null     object
 1   type        55 non-null     object
 2   avg_points  55 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.7+ KB

In [34]:
white_wine_bubble = wine_bubble.loc[wine_bubble.type == 'white wine'].sort_values(by=['province'], ascending=False)
white_wine_bubble2 = white_wine_bubble.groupby('province').mean('points').round(1)

merge_df4 = pd.merge(white_wine_bubble, white_wine_bubble2, on="province")
merge_df5 = merge_df4.rename(columns = {'points_y': 'avg_points'})
Final_white_bubble = merge_df5.loc[:, ["province", "type", "avg_points"]]
Final_white_bubble

                province        type  avg_points
0      Western Australia  white wine        87.1
1      Western Australia  white wine        87.1
2      Western Australia  white wine        87.1
3      Western Australia  white wine        87.1
4      Western Australia  white wine        87.1
...                  ...         ...         ...
32574             Alsace  white wine        88.7
32575             Alsace  white wine        88.7
32576             Alsace  white wine        88.7
32577             Alsace  white wine        88.7
32578             Alsace  white wine        88.7

[32579 rows x 3 columns]

In [35]:
Final_white_bubble2 = Final_white_bubble.loc[Final_red_bubble.duplicated(keep='last'), :]
Final_white_bubble3 = Final_white_bubble2.drop_duplicates()
Final_white_bubble3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 0 to 31622
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   province    57 non-null     object
 1   type        57 non-null     object
 2   avg_points  57 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.8+ KB

In [36]:
Final_wine_bubble = pd.concat([Final_red_bubble3, Final_white_bubble3], axis= 0, ignore_index=True)
Final_wine_bubble

              province        type  avg_points
0    Western Australia    red wine        88.1
1           Washington    red wine        89.0
2             Virginia    red wine        85.3
3             Victoria    red wine        87.7
4               Veneto    red wine        88.7
..                 ...         ...         ...
107         Beaujolais  white wine        84.2
108    Australia Other  white wine        84.8
109            Arizona  white wine        84.4
110          Andalucia  white wine        89.1
111             Alsace  white wine        88.7

[112 rows x 3 columns]

## Export Subset to Json

In [ ]:
# Final_wine_bubble.to_json('Bubble_Wine2.js', index=True)

In [37]:
Final_red_bubble4 = Final_red_bubble3.loc[:, ["avg_points", "province"]]

In [38]:
Final_white_bubble4 = Final_white_bubble3.loc[:, ["avg_points", "province"]]

## Transforming Scattered Bubble Data

In [39]:
scaler = MinMaxScaler()

In [40]:
white_final = Final_white_bubble4.copy()
white_final.columns = ["tooltip", "name"]
white_final["value"] = scaler.fit_transform(white_final["tooltip"].values.reshape(-1,1))*100

white_data = json.loads(white_final.to_json(orient="records"))
white_data_final = {
    "name":"white wine",
    "data": white_data
}
white_data_final

{'name': 'white wine',
 'data': [{'tooltip': 87.1,
   'name': 'Western Australia',
   'value': 64.2105263158},
  {'tooltip': 88.4, 'name': 'Washington', 'value': 77.8947368421},
  {'tooltip': 84.7, 'name': 'Virginia', 'value': 38.9473684211},
  {'tooltip': 88.6, 'name': 'Victoria', 'value': 80.0},
  {'tooltip': 86.6, 'name': 'Veneto', 'value': 58.9473684211},
  {'tooltip': 87.7, 'name': 'Tuscany', 'value': 70.5263157895},
  {'tooltip': 84.7, 'name': 'Texas', 'value': 38.9473684211},
  {'tooltip': 88.0, 'name': 'Tasmania', 'value': 73.6842105263},
  {'tooltip': 85.0, 'name': 'Spanish Islands', 'value': 42.1052631579},
  {'tooltip': 84.9, 'name': 'Spain Other', 'value': 41.0526315789},
  {'tooltip': 87.4, 'name': 'Southwest France', 'value': 67.3684210526},
  {'tooltip': 87.3, 'name': 'Southern Italy', 'value': 66.3157894737},
  {'tooltip': 87.2, 'name': 'South Australia', 'value': 65.2631578947},
  {'tooltip': 87.6, 'name': 'Sicily & Sardinia', 'value': 69.4736842105},
  {'tooltip': 88.9, 'name': 'Rhône Valley', 'value': 83.1578947368},
  {'tooltip': 87.6, 'name': 'Provence', 'value': 69.4736842105},
  {'tooltip': 86.0, 'name': 'Piedmont', 'value': 52.6315789474},
  {'tooltip': 82.4, 'name': 'Pennsylvania', 'value': 14.7368421053},
  {'tooltip': 83.7, 'name': 'Other', 'value': 28.4210526316},
  {'tooltip': 88.1, 'name': 'Oregon', 'value': 74.7368421053},
  {'tooltip': 87.1, 'name': 'Ontario', 'value': 64.2105263158},
  {'tooltip': 84.5, 'name': 'Ohio', 'value': 36.8421052632},
  {'tooltip': 85.7, 'name': 'Northern Spain', 'value': 49.4736842105},
  {'tooltip': 87.6, 'name': 'Northeastern Italy', 'value': 69.4736842105},
  {'tooltip': 84.4, 'name': 'North Carolina', 'value': 35.7894736842},
  {'tooltip': 86.2, 'name': 'New York', 'value': 54.7368421053},
  {'tooltip': 87.2, 'name': 'New South Wales', 'value': 65.2631578947},
  {'tooltip': 84.3, 'name': 'New Mexico', 'value': 34.7368421053},
  {'tooltip': 82.8, 'name': 'New Jersey', 'value': 18.9473684211},
  {'tooltip': 83.4, 'name': 'Missouri', 'value': 25.2631578947},
  {'tooltip': 83.5, 'name': 'Michigan', 'value': 26.3157894737},
  {'tooltip': 84.0, 'name': 'Mendoza Province', 'value': 31.5789473684},
  {'tooltip': 84.3, 'name': 'Massachusetts', 'value': 34.7368421053},
  {'tooltip': 88.5, 'name': 'Lombardy', 'value': 78.9473684211},
  {'tooltip': 88.4, 'name': 'Loire Valley', 'value': 77.8947368421},
  {'tooltip': 84.2, 'name': 'Levante', 'value': 33.6842105263},
  {'tooltip': 85.9, 'name': 'Languedoc-Roussillon', 'value': 51.5789473684},
  {'tooltip': 81.0, 'name': 'Kentucky', 'value': 0.0},
  {'tooltip': 85.5, 'name': 'Italy Other', 'value': 47.3684210526},
  {'tooltip': 83.0, 'name': 'Iowa', 'value': 21.0526315789},
  {'tooltip': 85.5, 'name': 'Idaho', 'value': 47.3684210526},
  {'tooltip': 87.8, 'name': 'Galicia', 'value': 71.5789473684},
  {'tooltip': 85.4, 'name': 'France Other', 'value': 46.3157894737},
  {'tooltip': 84.2, 'name': 'Colorado', 'value': 33.6842105263},
  {'tooltip': 90.5, 'name': 'Champagne', 'value': 100.0},
  {'tooltip': 84.1, 'name': 'Central Spain', 'value': 32.6315789474},
  {'tooltip': 87.1, 'name': 'Central Italy', 'value': 64.2105263158},
  {'tooltip': 85.8, 'name': 'Catalonia', 'value': 50.5263157895},
  {'tooltip': 87.4, 'name': 'California', 'value': 67.3684210526},
  {'tooltip': 89.4, 'name': 'Burgundy', 'value': 88.4210526316},
  {'tooltip': 89.0, 'name': 'British Columbia', 'value': 84.2105263158},
  {'tooltip': 87.7, 'name': 'Bordeaux', 'value': 70.5263157895},
  {'tooltip': 84.2, 'name': 'Beaujolais', 'value': 33.6842105263},
  {'tooltip': 84.8, 'name': 'Australia Other', 'value': 40.0},
  {'tooltip': 84.4, 'name': 'Arizona', 'value': 35.7894736842},
  {'tooltip': 89.1, 'name': 'Andalucia', 'value': 85.2631578947},
  {'tooltip': 88.7, 'name': 'Alsace', 'value': 81.0526315789}]}

In [41]:
red_final = Final_red_bubble4.copy()
red_final.columns = ["tooltip", "name"]
red_final["value"] = scaler.fit_transform(red_final["tooltip"].values.reshape(-1,1))*100

red_data = json.loads(red_final.to_json(orient="records"))
red_data_final = {
    "name":"red wine",
    "data": red_data
}
red_data_final

{'name': 'red wine',
 'data': [{'tooltip': 88.1,
   'name': 'Western Australia',
   'value': 79.4871794872},
  {'tooltip': 89.0, 'name': 'Washington', 'value': 91.0256410256},
  {'tooltip': 85.3, 'name': 'Virginia', 'value': 43.5897435897},
  {'tooltip': 87.7, 'name': 'Victoria', 'value': 74.358974359},
  {'tooltip': 88.7, 'name': 'Veneto', 'value': 87.1794871795},
  {'tooltip': 89.5, 'name': 'Tuscany', 'value': 97.4358974359},
  {'tooltip': 85.8, 'name': 'Texas', 'value': 50.0},
  {'tooltip': 87.6, 'name': 'Tasmania', 'value': 73.0769230769},
  {'tooltip': 88.7, 'name': 'Spanish Islands', 'value': 87.1794871795},
  {'tooltip': 84.8, 'name': 'Spain Other', 'value': 37.1794871795},
  {'tooltip': 88.6, 'name': 'Southwest France', 'value': 85.8974358974},
  {'tooltip': 87.7, 'name': 'Southern Italy', 'value': 74.358974359},
  {'tooltip': 89.0, 'name': 'South Australia', 'value': 91.0256410256},
  {'tooltip': 88.0, 'name': 'Sicily & Sardinia', 'value': 78.2051282051},
  {'tooltip': 89.0, 'name': 'Rhône Valley', 'value': 91.0256410256},
  {'tooltip': 88.4, 'name': 'Provence', 'value': 83.3333333333},
  {'tooltip': 89.2, 'name': 'Piedmont', 'value': 93.5897435897},
  {'tooltip': 83.9, 'name': 'Pennsylvania', 'value': 25.641025641},
  {'tooltip': 85.7, 'name': 'Other', 'value': 48.7179487179},
  {'tooltip': 88.7, 'name': 'Oregon', 'value': 87.1794871795},
  {'tooltip': 87.4, 'name': 'Ontario', 'value': 70.5128205128},
  {'tooltip': 81.9, 'name': 'Ohio', 'value': 0.0},
  {'tooltip': 87.0, 'name': 'Northern Spain', 'value': 65.3846153846},
  {'tooltip': 88.1, 'name': 'Northeastern Italy', 'value': 79.4871794872},
  {'tooltip': 83.8, 'name': 'North Carolina', 'value': 24.358974359},
  {'tooltip': 86.1, 'name': 'New York', 'value': 53.8461538462},
  {'tooltip': 86.9, 'name': 'New South Wales', 'value': 64.1025641026},
  {'tooltip': 83.8, 'name': 'New Mexico', 'value': 24.358974359},
  {'tooltip': 84.1, 'name': 'New Jersey', 'value': 28.2051282051},
  {'tooltip': 84.2, 'name': 'Missouri', 'value': 29.4871794872},
  {'tooltip': 82.4, 'name': 'Michigan', 'value': 6.4102564103},
  {'tooltip': 86.5, 'name': 'Mendoza Province', 'value': 58.9743589744},
  {'tooltip': 89.3, 'name': 'Lombardy', 'value': 94.8717948718},
  {'tooltip': 87.0, 'name': 'Loire Valley', 'value': 65.3846153846},
  {'tooltip': 86.1, 'name': 'Levante', 'value': 53.8461538462},
  {'tooltip': 87.1, 'name': 'Languedoc-Roussillon', 'value': 66.6666666667},
  {'tooltip': 83.0, 'name': 'Kentucky', 'value': 14.1025641026},
  {'tooltip': 86.4, 'name': 'Italy Other', 'value': 57.6923076923},
  {'tooltip': 84.7, 'name': 'Idaho', 'value': 35.8974358974},
  {'tooltip': 87.1, 'name': 'Galicia', 'value': 66.6666666667},
  {'tooltip': 85.4, 'name': 'France Other', 'value': 44.8717948718},
  {'tooltip': 84.4, 'name': 'Colorado', 'value': 32.0512820513},
  {'tooltip': 89.2, 'name': 'Champagne', 'value': 93.5897435897},
  {'tooltip': 84.6, 'name': 'Central Spain', 'value': 34.6153846154},
  {'tooltip': 87.7, 'name': 'Central Italy', 'value': 74.358974359},
  {'tooltip': 87.2, 'name': 'Catalonia', 'value': 67.9487179487},
  {'tooltip': 87.8, 'name': 'California', 'value': 75.641025641},
  {'tooltip': 89.7, 'name': 'Burgundy', 'value': 100.0},
  {'tooltip': 89.1, 'name': 'British Columbia', 'value': 92.3076923077},
  {'tooltip': 88.2, 'name': 'Bordeaux', 'value': 80.7692307692},
  {'tooltip': 87.2, 'name': 'Beaujolais', 'value': 67.9487179487},
  {'tooltip': 84.8, 'name': 'Australia Other', 'value': 37.1794871795},
  {'tooltip': 85.3, 'name': 'Arizona', 'value': 43.5897435897},
  {'tooltip': 86.1, 'name': 'Andalucia', 'value': 53.8461538462},
  {'tooltip': 88.4, 'name': 'Alsace', 'value': 83.3333333333}]}

In [ ]:
#Final_red_bubble4.to_json('Final_red_bubble4.js', index=False)
#Final_white_bubble4.to_json('Final_white_bubble4.js', index=False)

In [ ]:
#final = [white_data_final, red_data_final]
#final

In [ ]:
#white_wine_dict = dict(zip(Final_white_bubble4.province, Final_white_bubble4.avg_points))
#white_wine_dict

In [ ]:
#red_wine_dict = dict(zip(Final_red_bubble4.province, Final_red_bubble4.avg_points))
#red_wine_dict

In [42]:
sunburst_Wine_Data = Final_Wine_Data.loc[:, ["type", "variety", "province", "winery", ]]
sunburst_Wine_Data.describe()

            type     variety    province           winery
count     113871      113871      113871           113871
unique         2         266          58            11808
top     red wine  Pinot Noir  California  Williams Selyem
freq       81292       12193       44294              371

In [ ]:
sun_final = sunburst_Wine_Data.copy()
sun_final.columns = ["type", "variety", "province", "winery"]
# red_final["value"] = scaler.fit_transform(red_final["tooltip"].values.reshape(-1,1))*100

sun_final = json.loads(sun_final.to_json(orient="records"))
sun_data_final = {
    "type":"Wine Type",
    "variety":"Wine Variety",
    "province": "Province",
    "winery":"Winery",
    "data": sun_final
}
sun_data_final

In [40]:
sunburtst_type = sunburst_Wine_Data["type"].value_counts().to_frame().reset_index(drop=False)
sunburtst_type = sunburtst_type.rename(columns = {'index': 'wine_type', 'type':'type_count'})
sunburtst_type

    wine_type  type_count
0    red wine       81292
1  white wine       32579

In [41]:
sunburtst_type2 = sunburst_Wine_Data["variety"].value_counts().to_frame().reset_index(drop=False)
sunburtst_type2

                   index  variety
0             Pinot Noir    12193
1             Chardonnay    12103
2     Cabernet Sauvignon    10955
3              Red Blend     8181
4                  Syrah     5075
..                   ...      ...
261             Saperavi        3
262       Touriga Franca        2
263        Madeira Blend        1
264       Muskat Ottonel        1
265  Viognier-Chardonnay        1

[266 rows x 2 columns]

In [42]:
sun_type_final = sunburtst_type.copy()
sun_type_final.columns = ["count", "name"]
# red_final["value"] = scaler.fit_transform(red_final["tooltip"].values.reshape(-1,1))*100

sun_final = json.loads(sun_type_final.to_json())
sun_data_final = {
    "count":"type_count",
    "name":"wine_type",
    "childern": sun_type_final
}
sun_data_final

{'count': 'type_count',
 'name': 'wine_type',
 'childern':         count   name
 0    red wine  81292
 1  white wine  32579}

In [170]:
sunburst_red = sunburst_Wine_Data.loc[sunburst_Wine_Data.type == 'red wine']
sunburst_white = sunburst_Wine_Data.loc[sunburst_Wine_Data.type == 'white wine']
sunburst_red.describe()

            type     variety    province           winery
count      81292       81292       81292            81292
unique         1         150          58            10283
top     red wine  Pinot Noir  California  Williams Selyem
freq       81292       12193       32388              302

In [185]:
group_data = sunburst_red.groupby(['type','variety','province']).size()
group_data

type      variety    province
red wine  Aglianico  California          11
                     Southern Italy     248
          Albariño   California          77
                     Catalonia            2
                     Galicia            438
                                       ...
          Zinfandel  South Australia      5
                     Texas                1
                     Washington          73
          Zweigelt   New York             1
                     Washington           2
Length: 873, dtype: int64

In [187]:
group_data.to_csv('group_data_red.csv', index=True)

In [ ]:
group_data.to_json('group_data.js', index=True)

In [44]:
sunburst_red_variety = sunburst_red.value_counts(['variety', 'province', 'winery']).to_frame().reset_index(drop=False)
sunburst_red_variety = sunburst_red_variety.rename(columns = {0: 'count'})
sunburst_red_variety

sunburst_red_variety = sunburst_red_variety.loc[:, ["winery", "count" ]]
sunburst_red_variety

                     winery  count
0           Williams Selyem    244
1                Testarossa    148
2      Bouchard Père & Fils    117
3                    Calera     98
4                    Siduri     96
...                     ...    ...
20794      Sarah's Vineyard      1
20795               Talaria      1
20796          Standing Sun      1
20797            Summerland      1
20798    Kivelstadt Cellars      1

[20799 rows x 2 columns]

## Format for count of winery's  - Red Wine

In [105]:
sunburst_red_winery = sunburst_red.value_counts(['variety', 'province', 'winery']).to_frame().reset_index(drop=False)
sunburst_red_winery = sunburst_red_winery.rename(columns = {0: 'count'})
sunburst_red_winery

sunburst_red_winery = sunburst_red_winery.loc[:, ["winery", "count" ]]
sunburst_red_winery

                     winery  count
0           Williams Selyem    244
1                Testarossa    148
2      Bouchard Père & Fils    117
3                    Calera     98
4                    Siduri     96
...                     ...    ...
20794      Sarah's Vineyard      1
20795               Talaria      1
20796          Standing Sun      1
20797            Summerland      1
20798    Kivelstadt Cellars      1

[20799 rows x 2 columns]

In [160]:
sunburst_red_province = sunburst_red.value_counts(['province']).to_frame().reset_index(drop=False)
sunburst_red_province = sunburst_red_province.rename(columns = {0: 'count'})
sunburst_red_province

sunburst_red_province = sunburst_red_province.loc[:, ["province", "count" ]]
sunburst_red_province

                province  count
0             California  32388
1             Washington   7360
2                Tuscany   5583
3       Mendoza Province   4009
4         Northern Spain   3982
5                 Oregon   3268
6               Piedmont   2562
7        South Australia   2222
8               Bordeaux   2162
9                 Veneto   1668
10     Sicily & Sardinia   1384
11              Burgundy   1361
12             Catalonia   1152
13              New York   1120
14          Rhône Valley    924
15      Southwest France    912
16         Central Italy    900
17        Southern Italy    842
18              Provence    790
19  Languedoc-Roussillon    766
20                 Other    755
21         Central Spain    622
22               Galicia    466
23               Levante    404
24    Northeastern Italy    397
25                Alsace    396
26              Victoria    368
27          Loire Valley    340
28              Virginia    334
29       Australia Other    309
30            Beaujolais    291
31     Western Australia    271
32              Lombardy    236
33          France Other    148
34       New South Wales    135
35            New Mexico     74
36      British Columbia     47
37              Missouri     37
38          Pennsylvania     36
39              Tasmania     28
40       Spanish Islands     25
41           Spain Other     24
42           Italy Other     22
43                 Texas     21
44             Champagne     21
45                 Idaho     19
46              Colorado     18
47               Arizona     16
48        North Carolina     15
49               Ontario     14
50             Andalucia     14
51            New Jersey     12
52                  Ohio     10
53              Michigan      7
54              Kentucky      2
55         Massachusetts      1
56                  Iowa      1
57                Nevada      1

In [107]:
sun_red2_province = sunburst_red_province.copy()
sun_red2_province.columns = ["name", "value" ]
# red_final["value"] = scaler.fit_transform(red_final["tooltip"].values.reshape(-1,1))*100

sun_red2_province = json.loads(sun_red2_province.to_json(orient="records"))
province_red2_final = {
#     "name":"Wines",
#     "children":[{"count":21007, "name":"Red Wine", 
#     "children":[{"count":150, "name":"variety",
    "count":873,
    "name":"Province",
    "children": sun_red2_province
}
# ]}]}
province_red2_final

{'count': 873,
 'name': 'Province',
 'children': [{'name': 'California', 'value': 32388},
  {'name': 'Washington', 'value': 7360},
  {'name': 'Tuscany', 'value': 5583},
  {'name': 'Mendoza Province', 'value': 4009},
  {'name': 'Northern Spain', 'value': 3982},
  {'name': 'Oregon', 'value': 3268},
  {'name': 'Piedmont', 'value': 2562},
  {'name': 'South Australia', 'value': 2222},
  {'name': 'Bordeaux', 'value': 2162},
  {'name': 'Veneto', 'value': 1668},
  {'name': 'Sicily & Sardinia', 'value': 1384},
  {'name': 'Burgundy', 'value': 1361},
  {'name': 'Catalonia', 'value': 1152},
  {'name': 'New York', 'value': 1120},
  {'name': 'Rhône Valley', 'value': 924},
  {'name': 'Southwest France', 'value': 912},
  {'name': 'Central Italy', 'value': 900},
  {'name': 'Southern Italy', 'value': 842},
  {'name': 'Provence', 'value': 790},
  {'name': 'Languedoc-Roussillon', 'value': 766},
  {'name': 'Other', 'value': 755},
  {'name': 'Central Spain', 'value': 622},
  {'name': 'Galicia', 'value': 466},
  {'name': 'Levante', 'value': 404},
  {'name': 'Northeastern Italy', 'value': 397},
  {'name': 'Alsace', 'value': 396},
  {'name': 'Victoria', 'value': 368},
  {'name': 'Loire Valley', 'value': 340},
  {'name': 'Virginia', 'value': 334},
  {'name': 'Australia Other', 'value': 309},
  {'name': 'Beaujolais', 'value': 291},
  {'name': 'Western Australia', 'value': 271},
  {'name': 'Lombardy', 'value': 236},
  {'name': 'France Other', 'value': 148},
  {'name': 'New South Wales', 'value': 135},
  {'name': 'New Mexico', 'value': 74},
  {'name': 'British Columbia', 'value': 47},
  {'name': 'Missouri', 'value': 37},
  {'name': 'Pennsylvania', 'value': 36},
  {'name': 'Tasmania', 'value': 28},
  {'name': 'Spanish Islands', 'value': 25},
  {'name': 'Spain Other', 'value': 24},
  {'name': 'Italy Other', 'value': 22},
  {'name': 'Texas', 'value': 21},
  {'name': 'Champagne', 'value': 21},
  {'name': 'Idaho', 'value': 19},
  {'name': 'Colorado', 'value': 18},
  {'name': 'Arizona', 'value': 16},
  {'name': 'North Carolina', 'value': 15},
  {'name': 'Ontario', 'value': 14},
  {'name': 'Andalucia', 'value': 14},
  {'name': 'New Jersey', 'value': 12},
  {'name': 'Ohio', 'value': 10},
  {'name': 'Michigan', 'value': 7},
  {'name': 'Kentucky', 'value': 2},
  {'name': 'Massachusetts', 'value': 1},
  {'name': 'Iowa', 'value': 1},
  {'name': 'Nevada', 'value': 1}]}

In [108]:
sunburst_red_variety = sunburst_red.value_counts(['variety']).to_frame().reset_index(drop=False)
sunburst_red_variety = sunburst_red_variety.rename(columns = {0: 'count'})
sunburst_red_variety

sunburst_red_variety = sunburst_red_variety.loc[:, ["variety", "count" ]]
sunburst_red_variety

                          variety  count
0                      Pinot Noir  12193
1              Cabernet Sauvignon  10955
2                       Red Blend   8181
3                           Syrah   5075
4                          Merlot   4291
..                            ...    ...
145  Cabernet Sauvignon-Carmenère      4
146                      Saperavi      3
147                      Zweigelt      3
148                Touriga Franca      2
149                 Madeira Blend      1

[150 rows x 2 columns]

In [109]:
sun_red2_Variety = sunburst_red_variety.copy()
sun_red2_Variety.columns = ["name", "value" ]
# red_final["value"] = scaler.fit_transform(red_final["tooltip"].values.reshape(-1,1))*100

sun_red2_Variety = json.loads(sun_red2_Variety.to_json(orient="records"))
sun_data_red2_Variety = {
    "name":"Wines",
    "children":[{"count":21007, "name":"Red Wine", 
#     "children":[{"count":150, "name":"variety",
#     "children":[{"count":873, "name":"Province",
    "count":150,
    "value":"Variety",
    "children": sun_red2_Variety
}]}
# ]}]}
sun_data_red2_Variety

{'name': 'Wines',
 'children': [{'count': 150,
   'name': 'Red Wine',
   'value': 'Variety',
   'children': [{'name': 'Pinot Noir', 'value': 12193},
    {'name': 'Cabernet Sauvignon', 'value': 10955},
    {'name': 'Red Blend', 'value': 8181},
    {'name': 'Syrah', 'value': 5075},
    {'name': 'Merlot', 'value': 4291},
    {'name': 'Bordeaux-style Red Blend', 'value': 4213},
    {'name': 'Zinfandel', 'value': 3790},
    {'name': 'Malbec', 'value': 2960},
    {'name': 'Sangiovese', 'value': 2874},
    {'name': 'Tempranillo', 'value': 2515},
    {'name': 'Rosé', 'value': 2148},
    {'name': 'Sparkling Blend', 'value': 1745},
    {'name': 'Shiraz', 'value': 1592},
    {'name': 'Nebbiolo', 'value': 1525},
    {'name': 'Rhône-style Red Blend', 'value': 1434},
    {'name': 'Corvina, Rondinella, Molinara', 'value': 1292},
    {'name': 'Cabernet Franc', 'value': 1257},
    {'name': 'Barbera', 'value': 959},
    {'name': 'Sangiovese Grosso', 'value': 938},
    {'name': 'Petite Sirah', 'value': 878},
    {'name': 'Gewürztraminer', 'value': 752},
    {'name': 'Tempranillo Blend', 'value': 734},
    {'name': 'Grenache', 'value': 589},
    {'name': 'Albariño', 'value': 529},
    {'name': 'Garnacha', 'value': 397},
    {'name': "Nero d'Avola", 'value': 375},
    {'name': 'Torrontés', 'value': 363},
    {'name': 'Dolcetto', 'value': 332},
    {'name': 'Meritage', 'value': 308},
    {'name': 'Gamay', 'value': 298},
    {'name': 'Montepulciano', 'value': 272},
    {'name': 'Aglianico', 'value': 259},
    {'name': 'Primitivo', 'value': 224},
    {'name': 'Tinta de Toro', 'value': 221},
    {'name': 'Cabernet Blend', 'value': 209},
    {'name': 'Petit Verdot', 'value': 183},
    {'name': 'Mourvèdre', 'value': 166},
    {'name': 'Bonarda', 'value': 152},
    {'name': 'G-S-M', 'value': 151},
    {'name': 'Monastrell', 'value': 148},
    {'name': 'Mencía', 'value': 146},
    {'name': 'Cabernet Sauvignon-Merlot', 'value': 145},
    {'name': 'Friulano', 'value': 136},
    {'name': 'Port', 'value': 132},
    {'name': 'Fiano', 'value': 131},
    {'name': 'Pinot Nero', 'value': 113},
    {'name': 'Grillo', 'value': 111},
    {'name': 'Cabernet Sauvignon-Syrah', 'value': 100},
    {'name': 'Tannat', 'value': 96},
    {'name': 'Prugnolo Gentile', 'value': 90},
    {'name': 'Tempranillo-Cabernet Sauvignon', 'value': 85},
    {'name': 'Shiraz-Viognier', 'value': 84},
    {'name': 'Sagrantino', 'value': 82},
    {'name': 'Tinto del Pais', 'value': 81},
    {'name': 'Malbec-Merlot', 'value': 79},
    {'name': 'Shiraz-Cabernet Sauvignon', 'value': 78},
    {'name': 'Tinto Fino', 'value': 75},
    {'name': 'Negroamaro', 'value': 72},
    {'name': 'Nerello Mascalese', 'value': 71},
    {'name': 'Petite Verdot', 'value': 70},
    {'name': 'Cabernet Sauvignon-Shiraz', 'value': 67},
    {'name': 'Grenache-Syrah', 'value': 61},
    {'name': 'Tempranillo-Garnacha', 'value': 60},
    {'name': 'Malbec-Cabernet Sauvignon', 'value': 58},
    {'name': 'Carignano', 'value': 58},
    {'name': 'Lambrusco', 'value': 54},
    {'name': 'Cabernet Merlot', 'value': 46},
    {'name': 'Syrah-Grenache', 'value': 45},
    {'name': 'Carmenère', 'value': 43},
    {'name': 'Grüner Veltliner', 'value': 43},
    {'name': 'Cabernet Sauvignon-Malbec', 'value': 40},
    {'name': 'Charbono', 'value': 40},
    {'name': 'Merlot-Cabernet Sauvignon', 'value': 37},
    {'name': 'Claret', 'value': 37},
    {'name': 'Lagrein', 'value': 36},
    {'name': 'Cannonau', 'value': 35},
    {'name': 'Syrah-Cabernet', 'value': 33},
    {'name': 'Graciano', 'value': 31},
    {'name': 'Frappato', 'value': 30},
    {'name': 'Shiraz-Grenache', 'value': 27},
    {'name': 'Tannat-Cabernet', 'value': 27},
    {'name': 'Carignan', 'value': 27},
    {'name': 'Rosato', 'value': 26},
    {'name': 'Teroldego', 'value': 26},
    {'name': 'Carignane', 'value': 25},
    {'name': 'Cinsault', 'value': 25},
    {'name': 'Lemberger', 'value': 24},
    {'name': 'Brachetto', 'value': 24},
    {'name': 'Cabernet Sauvignon-Cabernet Franc', 'value': 24},
    {'name': 'Tempranillo-Shiraz', 'value': 23},
    {'name': 'Rosado', 'value': 23},
    {'name': 'Norton', 'value': 22},
    {'name': 'Prieto Picudo', 'value': 22},
    {'name': 'Provence red blend', 'value': 22},
    {'name': 'Piedirosso', 'value': 21},
    {'name': 'Pinotage', 'value': 21},
    {'name': 'Garnacha-Syrah', 'value': 20},
    {'name': 'Pinot Meunier', 'value': 19},
    {'name': 'Tempranillo-Merlot', 'value': 18},
    {'name': 'Cabernet', 'value': 17},
    {'name': 'Raboso', 'value': 17},
    {'name': 'Counoise', 'value': 16},
    {'name': 'Bobal', 'value': 16},
    {'name': 'Corvina', 'value': 16},
    {'name': 'Chambourcin', 'value': 16},
    {'name': 'Merlot-Cabernet Franc', 'value': 16},
    {'name': 'Malbec-Syrah', 'value': 16},
    {'name': 'Nero di Troia', 'value': 16},
    {'name': 'Syrah-Petite Sirah', 'value': 14},
    {'name': 'Black Muscat', 'value': 13},
    {'name': 'Monastrell-Syrah', 'value': 13},
    {'name': 'Gamay Noir', 'value': 13},
    {'name': 'Uva di Troia', 'value': 12},
    {'name': 'Grenache-Shiraz', 'value': 12},
    {'name': 'Merlot-Malbec', 'value': 11},
    {'name': 'Cabernet-Syrah', 'value': 11},
    {'name': 'Negrette', 'value': 11},
    {'name': 'Perricone', 'value': 11},
    {'name': 'Cabernet Sauvignon-Sangiovese', 'value': 11},
    {'name': 'Touriga Nacional', 'value': 11},
    {'name': 'Tinta Fina', 'value': 11},
    {'name': 'Gaglioppo', 'value': 11},
    {'name': 'Blaufränkisch', 'value': 10},
    {'name': 'Alicante', 'value': 10},
    {'name': 'Syrah-Cabernet Sauvignon', 'value': 10},
    {'name': 'Aleatico', 'value': 10},
    {'name': 'Monica', 'value': 10},
    {'name': 'Grenache-Carignan', 'value': 9},
    {'name': 'Alicante Bouschet', 'value': 9},
    {'name': 'Baco Noir', 'value': 9},
    {'name': 'Mataro', 'value': 9},
    {'name': 'Tannat-Cabernet Franc', 'value': 9},
    {'name': "Cesanese d'Affile", 'value': 9},
    {'name': 'Cabernet Franc-Merlot', 'value': 9},
    {'name': 'Grenache Blend', 'value': 8},
    {'name': 'Shiraz-Tempranillo', 'value': 8},
    {'name': 'Merlot-Cabernet', 'value': 8},
    {'name': 'Malbec-Tannat', 'value': 8},
    {'name': 'Trepat', 'value': 8},
    {'name': 'Ciliegiolo', 'value': 7},
    {'name': 'Syrah-Viognier', 'value': 7},
    {'name': 'Malbec-Tempranillo', 'value': 7},
    {'name': 'Schiava', 'value': 7},
    {'name': 'Carignan-Grenache', 'value': 7},
    {'name': 'Dornfelder', 'value': 6},
    {'name': 'Cabernet Sauvignon-Carmenère', 'value': 4},
    {'name': 'Saperavi', 'value': 3},
    {'name': 'Zweigelt', 'value': 3},
    {'name': 'Touriga Franca', 'value': 2},
    {'name': 'Madeira Blend', 'value': 1}]}]}

In [110]:
sun_red2_Winery = sunburst_red_winery.copy()
sun_red2_Winery.columns = ["name", "value" ]
# red_final["value"] = scaler.fit_transform(red_final["tooltip"].values.reshape(-1,1))*100

sun_red2_Winery = json.loads(sun_red2_Winery.to_json(orient="records"))
sun_data_red2_Winery = {
#     "name":"Wines",
#     "children":[{"count":21007, "name":"Red Wine", 
#     "children":[{"count":150, "name":"variety",
#     "children":[{"count":873, "name":"Province",
    "count":20799,
    "value":"Winery",
    "children": sun_red2_Winery
}
# ]}]}]}
sun_data_red2_Winery

{'count': 20799,
 'value': 'Winery',
 'children': [{'name': 'Williams Selyem', 'value': 244},
  {'name': 'Testarossa', 'value': 148},
  {'name': 'Bouchard Père & Fils', 'value': 117},
  {'name': 'Calera', 'value': 98},
  {'name': 'Siduri', 'value': 96},
  {'name': 'Merry Edwards', 'value': 90},
  {'name': 'Ken Wright', 'value': 89},
  {'name': 'Renwood', 'value': 87},
  {'name': 'Freixenet', 'value': 86},
  {'name': 'Peachy Canyon', 'value': 83},
  {'name': 'Erath', 'value': 77},
  {'name': 'Trapiche', 'value': 77},
  {'name': 'Joseph Drouhin', 'value': 76},
  {'name': 'MacPhail', 'value': 75},
  {'name': 'Willamette Valley Vineyards', 'value': 75},
  {'name': 'Louis Latour', 'value': 73},
  {'name': 'Arista', 'value': 73},
  {'name': 'Louis Jadot', 'value': 73},
  {'name': 'Gary Farrell', 'value': 70},
  {'name': 'Roessler', 'value': 69},
  {'name': 'Rex Hill', 'value': 65},
  {'name': 'Schramsberg', 'value': 65},
  {'name': 'Raymond', 'value': 64},
  {'name': 'Segura Viudas', 'value': 64},
  {'name': 'De Loach', 'value': 63},
  {'name': 'Novy', 'value': 62},
  {'name': 'Martin Ray', 'value': 62},
  {'name': 'Domaine Faiveley', 'value': 62},
  {'name': 'Pali', 'value': 61},
  {'name': 'Sierra Cantabria', 'value': 60},
  {'name': 'Lynmar', 'value': 59},
  {'name': 'Rocca delle Macìe', 'value': 59},
  {'name': 'Sobon Estate', 'value': 58},
  {'name': 'Sineann', 'value': 57},
  {'name': 'Mumm Napa', 'value': 56},
  {'name': 'Talley', 'value': 55},
  {'name': 'Wilson', 'value': 55},
  {'name': 'La Rochelle', 'value': 55},
  {'name': 'Korbel', 'value': 54},
  {'name': 'Dry Creek Vineyard', 'value': 54},
  {'name': 'De Loach', 'value': 54},
  {'name': 'Mazzocco', 'value': 54},
  {'name': 'Adelsheim', 'value': 54},
  {'name': 'Beringer', 'value': 53},
  {'name': 'Goldeneye', 'value': 53},
  {'name': 'Chandon', 'value': 52},
  {'name': 'Panther Creek', 'value': 52},
  {'name': 'Dutton-Goldfield', 'value': 52},
  {'name': 'Bodega Catena Zapata', 'value': 50},
  {'name': 'K Vintners', 'value': 50},
  {'name': 'Loring Wine Company', 'value': 49},
  {'name': 'Rosenblum', 'value': 49},
  {'name': 'Failla', 'value': 49},
  {'name': 'Iron Horse', 'value': 49},
  {'name': 'Lungarotti', 'value': 49},
  {'name': 'Gloria Ferrer', 'value': 49},
  {'name': 'Chateau Ste. Michelle', 'value': 49},
  {'name': 'Louis M. Martini', 'value': 48},
  {'name': 'Soléna', 'value': 48},
  {'name': 'Cameron Hughes', 'value': 47},
  {'name': 'Fess Parker', 'value': 45},
  {'name': 'Seven Hills', 'value': 45},
  {'name': 'Bodega Norton', 'value': 45},
  {'name': 'Flora Springs', 'value': 44},
  {'name': 'Terre Rouge', 'value': 44},
  {'name': 'Penfolds', 'value': 44},
  {'name': 'Williams Selyem', 'value': 44},
  {'name': 'Torii Mor', 'value': 44},
  {'name': 'Morgan', 'value': 43},
  {'name': 'Ceretto', 'value': 42},
  {'name': 'Patz & Hall', 'value': 42},
  {'name': 'Laetitia', 'value': 42},
  {'name': 'Domaine Serene', 'value': 42},
  {'name': "Château d'Esclans", 'value': 41},
  {'name': 'Chanson Père et Fils', 'value': 41},
  {'name': 'Rodney Strong', 'value': 40},
  {'name': "Stag's Leap Wine Cellars", 'value': 40},
  {'name': 'Kilikanoon', 'value': 39},
  {'name': 'Kynsi', 'value': 39},
  {'name': 'Kenwood', 'value': 39},
  {'name': 'Marimar Estate', 'value': 39},
  {'name': 'Château du Cèdre', 'value': 39},
  {'name': 'Brian Carter Cellars', 'value': 39},
  {'name': 'Manuel Olivier', 'value': 39},
  {'name': 'Georges Vigouroux', 'value': 38},
  {'name': 'Lemelson', 'value': 38},
  {'name': 'Bouchard Aîné & Fils', 'value': 38},
  {'name': 'Von Strasser', 'value': 37},
  {'name': 'Dashe Cellars', 'value': 37},
  {'name': 'Enrique Foster', 'value': 36},
  {'name': 'Mähler-Besse', 'value': 36},
  {'name': 'Cline', 'value': 36},
  {'name': 'Columbia Crest', 'value': 36},
  {'name': "D'Arenberg", 'value': 36},
  {'name': 'Joseph Swan Vineyards', 'value': 36},
  {'name': 'Tommasi', 'value': 36},
  {'name': 'Lost Canyon', 'value': 36},
  {'name': 'Ramón Bilbao', 'value': 36},
  {'name': 'Domaines Ott', 'value': 36},
  {'name': 'Marchesi Antinori', 'value': 36},
  {'name': 'Easton', 'value': 36},
  {'name': 'Bodegas Palacio', 'value': 36},
  {'name': 'Pine Ridge', 'value': 36},
  {'name': 'Freemark Abbey', 'value': 35},
  {'name': 'Robert Stemmler', 'value': 35},
  {'name': 'Masi', 'value': 35},
  {'name': 'King Estate', 'value': 35},
  {'name': 'Clos Pegase', 'value': 35},
  {'name': 'Thomas Fogarty', 'value': 35},
  {'name': 'Ponzi', 'value': 35},
  {'name': 'Clarendon Hills', 'value': 34},
  {'name': 'Chateau Ste. Michelle', 'value': 34},
  {'name': 'Emilio Moro', 'value': 34},
  {'name': 'M. Chapoutier', 'value': 34},
  {'name': 'Goldschmidt', 'value': 34},
  {'name': 'Paul Jaboulet Aîné', 'value': 34},
  {'name': 'Finca Sophenia', 'value': 34},
  {'name': 'Raptor Ridge', 'value': 34},
  {'name': 'Kendall-Jackson', 'value': 34},
  {'name': 'E. Guigal', 'value': 34},
  {'name': 'Mazzei', 'value': 34},
  {'name': 'Anam Cara', 'value': 34},
  {'name': 'Sbragia', 'value': 34},
  {'name': 'Sokol Blosser', 'value': 34},
  {'name': 'Schug', 'value': 34},
  {'name': 'Chehalem', 'value': 34},
  {'name': 'Jean-Luc Baldès', 'value': 34},
  {'name': 'Duckhorn', 'value': 34},
  {'name': 'Etude', 'value': 34},
  {'name': 'Feudi di San Gregorio', 'value': 33},
  {'name': 'Grattamacco', 'value': 33},
  {'name': 'Luigi Bosca', 'value': 33},
  {'name': 'Cesari', 'value': 33},
  {'name': 'Sequoia Grove', 'value': 33},
  {'name': 'Walter Dacon', 'value': 33},
  {'name': 'Sojourn', 'value': 33},
  {'name': 'Robert Mondavi', 'value': 33},
  {'name': 'Marchesi di Barolo', 'value': 33},
  {'name': 'Pio Cesare', 'value': 33},
  {'name': 'Sausal', 'value': 32},
  {'name': 'Carr', 'value': 32},
  {'name': 'Ravenswood', 'value': 32},
  {'name': 'Signé Vigneron', 'value': 32},
  {'name': 'Gérard Bertrand', 'value': 32},
  {'name': 'David Hill', 'value': 32},
  {'name': 'Doña Paula', 'value': 32},
  {'name': 'Summers', 'value': 31},
  {'name': 'J Vineyards & Winery', 'value': 31},
  {'name': 'Stephen Ross', 'value': 31},
  {'name': 'Planeta', 'value': 31},
  {'name': 'Sanford', 'value': 31},
  {'name': 'Wellington', 'value': 31},
  {'name': 'Vine Cliff', 'value': 31},
  {'name': 'Tenuta Sette Ponti', 'value': 31},
  {'name': 'Concannon', 'value': 31},
  {'name': 'Andrew Will', 'value': 31},
  {'name': 'Bodegas Navarro López', 'value': 31},
  {'name': 'J. Lohr', 'value': 31},
  {'name': 'Bertani', 'value': 31},
  {'name': 'Bernardus', 'value': 31},
  {'name': 'Byron', 'value': 31},
  {'name': 'Alidis', 'value': 30},
  {'name': 'Foxen', 'value': 30},
  {'name': 'Tedeschi', 'value': 30},
  {'name': 'J Vineyards & Winery', 'value': 30},
  {'name': 'Zaca Mesa', 'value': 30},
  {'name': 'Cadence', 'value': 30},
  {'name': 'Charles Krug', 'value': 30},
  {'name': 'Cristom', 'value': 30},
  {'name': 'Hecht & Bannier', 'value': 30},
  {'name': 'Bella', 'value': 30},
  {'name': 'Geyser Peak', 'value': 30},
  {'name': 'Hall', 'value': 30},
  {'name': 'Sterling', 'value': 30},
  {'name': 'Trivento', 'value': 30},
  {'name': 'Rusack', 'value': 30},
  {'name': 'Two Hands', 'value': 29},
  {'name': 'Bodegas Faustino', 'value': 29},
  {'name': 'Clos du Val', 'value': 29},
  {'name': 'Tandem', 'value': 29},
  {'name': 'Santa Julia', 'value': 29},
  {'name': 'Belle Glos', 'value': 29},
  {'name': 'Giacosa Fratelli', 'value': 29},
  {'name': 'Longoria', 'value': 28},
  {'name': 'Dutton Estate', 'value': 28},
  {'name': 'La Crema', 'value': 28},
  {'name': 'Chimney Rock', 'value': 28},
  {'name': 'Drew', 'value': 28},
  {'name': 'Saintsbury', 'value': 28},
  {'name': 'Castellani Michele & Figli', 'value': 28},
  {'name': 'Rocca di Frassinello', 'value': 28},
  {'name': 'Balletto', 'value': 28},
  {'name': 'Talisman', 'value': 28},
  {'name': 'Jaffurs', 'value': 28},
  {'name': 'Ojai', 'value': 28},
  {'name': 'Donum', 'value': 27},
  {'name': 'Piccini', 'value': 27},
  {'name': 'Zuccardi', 'value': 27},
  {'name': 'Tenuta San Guido', 'value': 27},
  {'name': "Frog's Leap", 'value': 27},
  {'name': 'Columbia Crest', 'value': 27},
  {'name': 'Sur de los Andes', 'value': 27},
  {'name': 'Carpineto', 'value': 27},
  {'name': 'La Fenêtre', 'value': 27},
  {'name': 'Castle Rock', 'value': 27},
  {'name': 'Trapiche', 'value': 27},
  {'name': 'Cantina Santadi', 'value': 27},
  {'name': 'Capezzana', 'value': 27},
  {'name': 'Delas Frères', 'value': 27},
  {'name': 'Tezza', 'value': 26},
  {'name': 'Rancho Zabaco', 'value': 26},
  {'name': 'V. Sattui', 'value': 26},
  {'name': 'Kenwood', 'value': 26},
  {'name': 'Steven Kent', 'value': 26},
  {'name': 'Kenwood', 'value': 26},
  {'name': 'Montecillo', 'value': 26},
  {'name': "Tasca d'Almerita", 'value': 26},
  {'name': 'Viñedos de Paganos', 'value': 26},
  {'name': "Tenuta Sant'Antonio", 'value': 26},
  {'name': 'Domaines Devillard', 'value': 26},
  {'name': 'O. Fournier', 'value': 26},
  {'name': 'Tolosa', 'value': 26},
  {'name': 'Cadence', 'value': 26},
  {'name': 'CVNE', 'value': 26},
  {'name': 'Jean-Luc Colombo', 'value': 26},
  {'name': 'Château de Cénac', 'value': 26},
  {'name': 'Merryvale', 'value': 26},
  {'name': 'Midsummer Cellars', 'value': 26},
  {'name': 'Nickel & Nickel', 'value': 26},
  {'name': 'Bodega Noemía de Patagonia', 'value': 26},
  {'name': 'Beaulieu Vineyard', 'value': 26},
  {'name': 'Tenuta Argentiera', 'value': 26},
  {'name': 'Numanthia', 'value': 25},
  {'name': 'Pedroncelli', 'value': 25},
  {'name': 'Torres', 'value': 25},
  {'name': 'Winderlea', 'value': 25},
  {'name': 'Labouré-Roi', 'value': 25},
  {'name': 'Santa Julia', 'value': 25},
  {'name': 'Condado de Oriza', 'value': 25},
  {'name': 'Lange', 'value': 25},
  {'name': 'Volpaia', 'value': 25},
  {'name': 'Whitehall Lane', 'value': 25},
  {'name': 'Soos Creek', 'value': 25},
  {'name': 'Roederer Estate', 'value': 25},
  {'name': 'Tamarack Cellars', 'value': 25},
  {'name': 'Twomey', 'value': 25},
  {'name': 'Clos Troteligotte', 'value': 25},
  {'name': 'Roar', 'value': 25},
  {'name': 'Paraiso Vineyards', 'value': 25},
  {'name': 'Pride Mountain', 'value': 25},
  {'name': 'Ojai', 'value': 25},
  {'name': 'Podere Guado al Melo', 'value': 25},
  {'name': 'Sebastiani', 'value': 25},
  {'name': 'Amalie Robert', 'value': 25},
  {'name': 'Domaine Jean Bousquet', 'value': 25},
  {'name': 'Kaiken', 'value': 24},
  {'name': 'Speri', 'value': 24},
  {'name': 'DeLille', 'value': 24},
  {'name': 'Alta Vista', 'value': 24},
  {'name': 'Conn Creek', 'value': 24},
  {'name': 'Château Lagrézette', 'value': 24},
  {'name': 'Kenwood', 'value': 24},
  {'name': 'Monte del Frá', 'value': 24},
  {'name': 'Le Cadeau', 'value': 24},
  {'name': 'Piña', 'value': 24},
  {'name': 'Kunde', 'value': 24},
  {'name': 'Chateau St. Jean', 'value': 24},
  {'name': 'Archery Summit', 'value': 24},
  {'name': 'Robert Craig', 'value': 24},
  {'name': 'Domaine Zind-Humbrecht', 'value': 24},
  {'name': 'Boedecker Cellars', 'value': 24},
  {'name': 'St. Supéry', 'value': 24},
  {'name': 'Abeja', 'value': 24},
  {'name': 'Poderi Luigi Einaudi', 'value': 24},
  {'name': 'Bodega Renacer', 'value': 24},
  {'name': 'Riverbench', 'value': 24},
  {'name': 'Morgan', 'value': 24},
  {'name': 'Barnett', 'value': 24},
  {'name': 'Faiveley', 'value': 24},
  {'name': 'Domaine Carneros', 'value': 24},
  {'name': 'Vietti', 'value': 24},
  {'name': 'Plungerhead', 'value': 24},
  {'name': 'Adelaida', 'value': 24},
  {'name': 'Baileyana', 'value': 24},
  {'name': 'Seghesio', 'value': 24},
  {'name': 'Armanino Family Cellars', 'value': 24},
  {'name': 'Castle Rock', 'value': 24},
  {'name': 'Babcock', 'value': 24},
  {'name': 'Le Salette', 'value': 23},
  {'name': "L'Ecole No. 41", 'value': 23},
  {'name': 'Zenato', 'value': 23},
  {'name': 'Dry Creek Vineyard', 'value': 23},
  {'name': 'Bodegas Valdemar', 'value': 23},
  {'name': 'El Coto', 'value': 23},
  {'name': 'Pascual Toso', 'value': 23},
  {'name': 'Bergström', 'value': 23},
  {'name': 'Bernard Magrez', 'value': 23},
  {'name': 'Hobo', 'value': 23},
  {'name': 'Penfolds', 'value': 23},
  {'name': 'Grant Burge', 'value': 23},
  {'name': 'EOS', 'value': 23},
  {'name': 'Herzog', 'value': 23},
  {'name': 'Llopart', 'value': 23},
  {'name': 'Samsara', 'value': 23},
  {'name': 'Roche de Bellene', 'value': 23},
  {'name': 'Freeman', 'value': 23},
  {'name': 'Melville', 'value': 23},
  {'name': 'Kirkland Signature', 'value': 23},
  {'name': 'Seven Hills', 'value': 23},
  {'name': 'Michel Torino', 'value': 23},
  {'name': 'J. Bookwalter', 'value': 23},
  {'name': 'Ridge', 'value': 23},
  {'name': 'WesMar', 'value': 23},
  {'name': 'Jean-Claude Boisset', 'value': 23},
  {'name': 'Tenute Cisa Asinari dei Marchesi di Gresy', 'value': 23},
  {'name': 'Methven Family Vineyards', 'value': 23},
  {'name': 'Hogue', 'value': 23},
  {'name': 'Talamonti', 'value': 23},
  {'name': 'Left Coast Cellars', 'value': 23},
  {'name': 'Poderi Luigi Einaudi', 'value': 23},
  {'name': 'William Hill Estate', 'value': 23},
  {'name': 'Pessagno', 'value': 23},
  {'name': 'Valentin Bianchi', 'value': 23},
  {'name': 'Viña Mayor', 'value': 23},
  {'name': 'Saxum', 'value': 23},
  {'name': 'St. Francis', 'value': 23},
  {'name': 'Peju', 'value': 23},
  {'name': 'Stoller', 'value': 22},
  {'name': 'Sterling', 'value': 22},
  {'name': 'Blackbird Vineyards', 'value': 22},
  {'name': 'Bodegas Fariña', 'value': 22},
  {'name': 'Claudia Springs', 'value': 22},
  {'name': 'Coniglio', 'value': 22},
  {'name': 'Buena Vista', 'value': 22},
  {'name': "L'Ecole No. 41", 'value': 22},
  {'name': 'Podere Sapaio', 'value': 22},
  {'name': 'Prado Rey', 'value': 22},
  {'name': 'Woodward Canyon', 'value': 22},
  {'name': 'Beni di Batasiolo', 'value': 22},
  {'name': 'Monticello Vineyards', 'value': 22},
  {'name': 'Terrazas de Los Andes', 'value': 22},
  {'name': 'Black Kite', 'value': 22},
  {'name': 'Hogue', 'value': 22},
  {'name': 'Begali', 'value': 22},
  {'name': 'Ampelos', 'value': 22},
  {'name': 'Small Vines', 'value': 22},
  {'name': 'Teso La Monja', 'value': 22},
  {'name': 'Redhawk', 'value': 22},
  {'name': 'Mazzei', 'value': 22},
  {'name': 'Contadi Castaldi', 'value': 22},
  {'name': 'Adelaida', 'value': 22},
  {'name': 'Bodegas Luzón', 'value': 22},
  {'name': 'Waterbrook', 'value': 22},
  {'name': 'Quivira', 'value': 21},
  {'name': 'Bodega Norton', 'value': 21},
  {'name': 'Domaine de la Vougeraie', 'value': 21},
  {'name': 'Sineann', 'value': 21},
  {'name': 'Phillips Hill', 'value': 21},
  {'name': 'Jaffelin', 'value': 21},
  {'name': 'Domaine Ste. Michelle', 'value': 21},
  {'name': ':Nota Bene', 'value': 21},
  {'name': 'Viña Albali', 'value': 21},
  {'name': 'Rocca delle Macìe', 'value': 21},
  {'name': 'Dusted Valley', 'value': 21},
  {'name': 'Marqués de Gelida', 'value': 21},
  {'name': "L'Ecole No. 41", 'value': 21},
  {'name': 'Shingleback', 'value': 21},
  {'name': 'Kendall-Jackson', 'value': 21},
  {'name': 'Curtis', 'value': 21},
  {'name': 'Tamarack Cellars', 'value': 21},
  {'name': 'Gianni Gagliardo', 'value': 21},
  {'name': 'Domaine Carneros', 'value': 21},
  {'name': 'Cambria', 'value': 21},
  {'name': 'Mitolo', 'value': 21},
  {'name': 'Cantina Sociale della Valpantena', 'value': 21},
  {'name': 'Alex Gambal', 'value': 21},
  {'name': 'Valentin Bianchi', 'value': 21},
  {'name': 'Fess Parker', 'value': 21},
  {'name': "L'Ecole No. 41", 'value': 21},
  {'name': 'Producteurs Plaimont', 'value': 21},
  {'name': 'Domaine de la Terre Rouge', 'value': 21},
  {'name': 'García Figuero', 'value': 21},
  {'name': 'Joseph Swan Vineyards', 'value': 21},
  {'name': 'Comtesse Thérèse', 'value': 21},
  {'name': 'Castello del Terriccio', 'value': 21},
  {'name': 'Couly-Dutheil', 'value': 21},
  {'name': 'Belle Vallée', 'value': 21},
  {'name': 'Angeline', 'value': 21},
  {'name': 'Salentein', 'value': 21},
  {'name': 'Ciavolich Giuseppe', 'value': 21},
  {'name': 'Sea Smoke', 'value': 21},
  {'name': 'Rutherford Ranch', 'value': 21},
  {'name': 'Trinchero', 'value': 21},
  {'name': 'Castello Banfi', 'value': 21},
  {'name': 'Campo Viejo', 'value': 21},
  {'name': 'Janzen', 'value': 21},
  {'name': 'Alphonse Mellot', 'value': 21},
  {'name': 'Vista Hills', 'value': 21},
  {'name': 'J. Lohr', 'value': 21},
  {'name': 'McCrea Cellars', 'value': 21},
  {'name': 'Rock Wall', 'value': 21},
  {'name': 'Mauro Veglio', 'value': 20},
  {'name': 'Château Cabezac', 'value': 20},
  {'name': 'Sequana', 'value': 20},
  {'name': 'Brander', 'value': 20},
  {'name': 'Mark Ryan', 'value': 20},
  {'name': 'Villa Monteleone', 'value': 20},
  {'name': 'Keenan', 'value': 20},
  {'name': 'Michele Chiarlo', 'value': 20},
  {'name': 'Frank Family', 'value': 20},
  {'name': 'Kuleto Estate', 'value': 20},
  {'name': 'Terlato', 'value': 20},
  {'name': 'Luna Beberide', 'value': 20},
  {'name': 'Cayuse', 'value': 20},
  {'name': 'Gloria Ferrer', 'value': 20},
  {'name': 'Familia Schroeder', 'value': 20},
  {'name': 'Flowers', 'value': 20},
  {'name': 'Cameron Hughes', 'value': 20},
  {'name': 'Wölffer', 'value': 20},
  {'name': 'Argyle', 'value': 20},
  {'name': 'Collemassari', 'value': 20},
  {'name': 'Amity Vineyards', 'value': 20},
  {'name': 'Dutton-Goldfield', 'value': 20},
  {'name': 'Carabella', 'value': 20},
  {'name': "Valle dell'Acate", 'value': 20},
  {'name': 'Finca Allende', 'value': 20},
  {'name': 'Barton & Guestier', 'value': 20},
  {'name': 'Iron Horse', 'value': 20},
  {'name': 'Spindrift Cellars', 'value': 20},
  {'name': 'MacMurray Ranch', 'value': 20},
  {'name': "Il Feuduccio Di S. Maria D'Orni", 'value': 20},
  {'name': 'Borsao', 'value': 20},
  {'name': 'Kokomo', 'value': 20},
  {'name': 'MacRostie', 'value': 20},
  {'name': 'Donnafugata', 'value': 20},
  {'name': 'Abacela', 'value': 20},
  {'name': 'McIntyre Vineyards', 'value': 20},
  {'name': 'Mahoney', 'value': 20},
  {'name': 'Rotari', 'value': 20},
  {'name': 'Newsome-Harlow', 'value': 20},
  {'name': 'Martin Ray', 'value': 20},
  {'name': 'Dunham', 'value': 20},
  {'name': 'Vall Llach', 'value': 19},
  {'name': 'Mas del Périé', 'value': 19},
  {'name': 'Luigi Bosca', 'value': 19},
  {'name': 'Coeur de Terre', 'value': 19},
  {'name': 'Betz Family', 'value': 19},
  {'name': 'Justin', 'value': 19},
  {'name': 'Andeluna', 'value': 19},
  {'name': 'Bodega Catena Zapata', 'value': 19},
  {'name': "Ca' del Bosco", 'value': 19},
  {'name': 'Roco', 'value': 19},
  {'name': 'Columbia Crest', 'value': 19},
  {'name': 'Condes de Albarei', 'value': 19},
  {'name': 'Longboard', 'value': 19},
  {'name': 'Bellavista', 'value': 19},
  {'name': 'Notre Vin', 'value': 19},
  {'name': 'Viña Vilano', 'value': 19},
  {'name': 'Tapestry', 'value': 19},
  {'name': 'Château Haut-Monplaisir', 'value': 19},
  {'name': 'Bruliam', 'value': 19},
  {'name': 'Provenance Vineyards', 'value': 19},
  {'name': 'Yalumba', 'value': 19},
  {'name': 'Rioja Vega', 'value': 19},
  {'name': 'Domaine Jessiaume', 'value': 19},
  {'name': 'BOND', 'value': 19},
  {'name': 'Muga', 'value': 19},
  {'name': 'Schug', 'value': 19},
  {'name': 'Rutini', 'value': 19},
  {'name': 'Castoro Cellars', 'value': 19},
  {'name': 'W.H. Smith', 'value': 19},
  {'name': 'Carol Shelton', 'value': 19},
  {'name': 'Lagarde', 'value': 19},
  {'name': 'Villa Poggio Salvi', 'value': 19},
  {'name': 'Easton', 'value': 19},
  {'name': 'Flying Goat Cellars', 'value': 19},
  {'name': 'Gaja', 'value': 19},
  {'name': 'Brander', 'value': 19},
  {'name': 'Gainey', 'value': 19},
  {'name': 'Baldacci', 'value': 19},
  {'name': 'Stefano Accordini', 'value': 19},
  {'name': 'Umani Ronchi', 'value': 19},
  {'name': 'Minassian-Young', 'value': 19},
  {'name': 'Pride Mountain', 'value': 19},
  {'name': 'Raymond', 'value': 19},
  {'name': 'Rutherford Hill', 'value': 19},
  {'name': 'Etude', 'value': 19},
  {'name': 'Château Sainte Roseline', 'value': 19},
  {'name': 'Novaia', 'value': 19},
  {'name': 'Snoqualmie', 'value': 19},
  {'name': 'Sartori', 'value': 19},
  {'name': 'D.R. Stephens', 'value': 19},

In [117]:
sun_red2_final = sunburst_red_variety.copy()
sun_red2_final.columns = ["name", "value" ]
# red_final["value"] = scaler.fit_transform(red_final["tooltip"].values.reshape(-1,1))*100

sun_red2_final = json.loads(sun_red2_final.to_json(orient="records"))
sun_data_red3_final = {
    "name":"Wines",
    "children":[{"count":21007, "name":"Red Wine", 
    "children":[{"count":150, "name":"variety",
    "children": sun_data_red2_Variety,
    "children":[{"count":873, "name":"Province",
    "children": province_red2_final,
    "children":[{"count":20799,"name":"Winery",
    "children": sun_red2_final
                 
}]}]}]}]}
sun_data_red3_final

{'name': 'Wines',
 'children': [{'count': 21007,
   'name': 'Red Wine',
   'children': [{'count': 150,
     'name': 'variety',
     'children': [{'count': 873,
       'name': 'Province',
       'children': [{'count': 20799,
         'name': 'Winery',
         'children': [{'name': 'Pinot Noir', 'value': 12193},
          {'name': 'Cabernet Sauvignon', 'value': 10955},
          {'name': 'Red Blend', 'value': 8181},
          {'name': 'Syrah', 'value': 5075},
          {'name': 'Merlot', 'value': 4291},
          {'name': 'Bordeaux-style Red Blend', 'value': 4213},
          {'name': 'Zinfandel', 'value': 3790},
          {'name': 'Malbec', 'value': 2960},
          {'name': 'Sangiovese', 'value': 2874},
          {'name': 'Tempranillo', 'value': 2515},
          {'name': 'Rosé', 'value': 2148},
          {'name': 'Sparkling Blend', 'value': 1745},
          {'name': 'Shiraz', 'value': 1592},
          {'name': 'Nebbiolo', 'value': 1525},
          {'name': 'Rhône-style Red Blend', 'value': 1434},
          {'name': 'Corvina, Rondinella, Molinara', 'value': 1292},
          {'name': 'Cabernet Franc', 'value': 1257},
          {'name': 'Barbera', 'value': 959},
          {'name': 'Sangiovese Grosso', 'value': 938},
          {'name': 'Petite Sirah', 'value': 878},
          {'name': 'Gewürztraminer', 'value': 752},
          {'name': 'Tempranillo Blend', 'value': 734},
          {'name': 'Grenache', 'value': 589},
          {'name': 'Albariño', 'value': 529},
          {'name': 'Garnacha', 'value': 397},
          {'name': "Nero d'Avola", 'value': 375},
          {'name': 'Torrontés', 'value': 363},
          {'name': 'Dolcetto', 'value': 332},
          {'name': 'Meritage', 'value': 308},
          {'name': 'Gamay', 'value': 298},
          {'name': 'Montepulciano', 'value': 272},
          {'name': 'Aglianico', 'value': 259},
          {'name': 'Primitivo', 'value': 224},
          {'name': 'Tinta de Toro', 'value': 221},
          {'name': 'Cabernet Blend', 'value': 209},
          {'name': 'Petit Verdot', 'value': 183},
          {'name': 'Mourvèdre', 'value': 166},
          {'name': 'Bonarda', 'value': 152},
          {'name': 'G-S-M', 'value': 151},
          {'name': 'Monastrell', 'value': 148},
          {'name': 'Mencía', 'value': 146},
          {'name': 'Cabernet Sauvignon-Merlot', 'value': 145},
          {'name': 'Friulano', 'value': 136},
          {'name': 'Port', 'value': 132},
          {'name': 'Fiano', 'value': 131},
          {'name': 'Pinot Nero', 'value': 113},
          {'name': 'Grillo', 'value': 111},
          {'name': 'Cabernet Sauvignon-Syrah', 'value': 100},
          {'name': 'Tannat', 'value': 96},
          {'name': 'Prugnolo Gentile', 'value': 90},
          {'name': 'Tempranillo-Cabernet Sauvignon', 'value': 85},
          {'name': 'Shiraz-Viognier', 'value': 84},
          {'name': 'Sagrantino', 'value': 82},
          {'name': 'Tinto del Pais', 'value': 81},
          {'name': 'Malbec-Merlot', 'value': 79},
          {'name': 'Shiraz-Cabernet Sauvignon', 'value': 78},
          {'name': 'Tinto Fino', 'value': 75},
          {'name': 'Negroamaro', 'value': 72},
          {'name': 'Nerello Mascalese', 'value': 71},
          {'name': 'Petite Verdot', 'value': 70},
          {'name': 'Cabernet Sauvignon-Shiraz', 'value': 67},
          {'name': 'Grenache-Syrah', 'value': 61},
          {'name': 'Tempranillo-Garnacha', 'value': 60},
          {'name': 'Malbec-Cabernet Sauvignon', 'value': 58},
          {'name': 'Carignano', 'value': 58},
          {'name': 'Lambrusco', 'value': 54},
          {'name': 'Cabernet Merlot', 'value': 46},
          {'name': 'Syrah-Grenache', 'value': 45},
          {'name': 'Carmenère', 'value': 43},
          {'name': 'Grüner Veltliner', 'value': 43},
          {'name': 'Cabernet Sauvignon-Malbec', 'value': 40},
          {'name': 'Charbono', 'value': 40},
          {'name': 'Merlot-Cabernet Sauvignon', 'value': 37},
          {'name': 'Claret', 'value': 37},
          {'name': 'Lagrein', 'value': 36},
          {'name': 'Cannonau', 'value': 35},
          {'name': 'Syrah-Cabernet', 'value': 33},
          {'name': 'Graciano', 'value': 31},
          {'name': 'Frappato', 'value': 30},
          {'name': 'Shiraz-Grenache', 'value': 27},
          {'name': 'Tannat-Cabernet', 'value': 27},
          {'name': 'Carignan', 'value': 27},
          {'name': 'Rosato', 'value': 26},
          {'name': 'Teroldego', 'value': 26},
          {'name': 'Carignane', 'value': 25},
          {'name': 'Cinsault', 'value': 25},
          {'name': 'Lemberger', 'value': 24},
          {'name': 'Brachetto', 'value': 24},
          {'name': 'Cabernet Sauvignon-Cabernet Franc', 'value': 24},
          {'name': 'Tempranillo-Shiraz', 'value': 23},
          {'name': 'Rosado', 'value': 23},
          {'name': 'Norton', 'value': 22},
          {'name': 'Prieto Picudo', 'value': 22},
          {'name': 'Provence red blend', 'value': 22},
          {'name': 'Piedirosso', 'value': 21},
          {'name': 'Pinotage', 'value': 21},
          {'name': 'Garnacha-Syrah', 'value': 20},
          {'name': 'Pinot Meunier', 'value': 19},
          {'name': 'Tempranillo-Merlot', 'value': 18},
          {'name': 'Cabernet', 'value': 17},
          {'name': 'Raboso', 'value': 17},
          {'name': 'Counoise', 'value': 16},
          {'name': 'Bobal', 'value': 16},
          {'name': 'Corvina', 'value': 16},
          {'name': 'Chambourcin', 'value': 16},
          {'name': 'Merlot-Cabernet Franc', 'value': 16},
          {'name': 'Malbec-Syrah', 'value': 16},
          {'name': 'Nero di Troia', 'value': 16},
          {'name': 'Syrah-Petite Sirah', 'value': 14},
          {'name': 'Black Muscat', 'value': 13},
          {'name': 'Monastrell-Syrah', 'value': 13},
          {'name': 'Gamay Noir', 'value': 13},
          {'name': 'Uva di Troia', 'value': 12},
          {'name': 'Grenache-Shiraz', 'value': 12},
          {'name': 'Merlot-Malbec', 'value': 11},
          {'name': 'Cabernet-Syrah', 'value': 11},
          {'name': 'Negrette', 'value': 11},
          {'name': 'Perricone', 'value': 11},
          {'name': 'Cabernet Sauvignon-Sangiovese', 'value': 11},
          {'name': 'Touriga Nacional', 'value': 11},
          {'name': 'Tinta Fina', 'value': 11},
          {'name': 'Gaglioppo', 'value': 11},
          {'name': 'Blaufränkisch', 'value': 10},
          {'name': 'Alicante', 'value': 10},
          {'name': 'Syrah-Cabernet Sauvignon', 'value': 10},
          {'name': 'Aleatico', 'value': 10},
          {'name': 'Monica', 'value': 10},
          {'name': 'Grenache-Carignan', 'value': 9},
          {'name': 'Alicante Bouschet', 'value': 9},
          {'name': 'Baco Noir', 'value': 9},
          {'name': 'Mataro', 'value': 9},
          {'name': 'Tannat-Cabernet Franc', 'value': 9},
          {'name': "Cesanese d'Affile", 'value': 9},
          {'name': 'Cabernet Franc-Merlot', 'value': 9},
          {'name': 'Grenache Blend', 'value': 8},
          {'name': 'Shiraz-Tempranillo', 'value': 8},
          {'name': 'Merlot-Cabernet', 'value': 8},
          {'name': 'Malbec-Tannat', 'value': 8},
          {'name': 'Trepat', 'value': 8},
          {'name': 'Ciliegiolo', 'value': 7},
          {'name': 'Syrah-Viognier', 'value': 7},
          {'name': 'Malbec-Tempranillo', 'value': 7},
          {'name': 'Schiava', 'value': 7},
          {'name': 'Carignan-Grenache', 'value': 7},
          {'name': 'Dornfelder', 'value': 6},
          {'name': 'Cabernet Sauvignon-Carmenère', 'value': 4},
          {'name': 'Saperavi', 'value': 3},
          {'name': 'Zweigelt', 'value': 3},
          {'name': 'Touriga Franca', 'value': 2},
          {'name': 'Madeira Blend', 'value': 1}]}]}]}]}]}

In [112]:
with open('sun_data_red3_final.json', 'w') as fp:
    json.dump(sun_data_red2_final, fp)

# Format for count of winery's  - White Wine

In [161]:
sunburst_white_variety = sunburst_white.value_counts(['variety', 'province', 'winery']).to_frame().reset_index(drop=False)
sunburst_white_variety = sunburst_white_variety.rename(columns = {0: 'count'})

sunburst_white_variety = sunburst_white_variety.loc[:, ["winery", "count" ]]
sunburst_white_variety

                    winery  count
0               Testarossa    112
1           Joseph Drouhin    103
2         Olivier Leflaive     90
3             Louis Latour     80
4     Bouchard Père & Fils     75
...                    ...    ...
8953               Shoofly      1
8954            1070 Green      1
8955                   39°      1
8956           75 Wine Co.      1
8957             Branchini      1

[8958 rows x 2 columns]

In [162]:
sun_red_final = sunburst_red_variety.copy()
sun_red_final.columns = ["name", "value" ]
# red_final["value"] = scaler.fit_transform(red_final["tooltip"].values.reshape(-1,1))*100

sun_red_final = json.loads(sun_red_final.to_json(orient="records"))
sun_data_red_final = {
    "name":"Wines",
    "children":[{"count":30138, "name":"Red Wine", 
    "children":[{"count":150, "name":"variety",
    "children":[{"count":58, "name":"Province",
    "count":20799,
    "name":"Winery",
    "children": sun_red_final
}]}]}]}
sun_data_red_final

{'name': 'Wines',
 'children': [{'count': 30138,
   'name': 'Red Wine',
   'children': [{'count': 150,
     'name': 'variety',
     'children': [{'count': 20799,
       'name': 'Winery',
       'children': [{'name': 'Pinot Noir', 'value': 12193},
        {'name': 'Cabernet Sauvignon', 'value': 10955},
        {'name': 'Red Blend', 'value': 8181},
        {'name': 'Syrah', 'value': 5075},
        {'name': 'Merlot', 'value': 4291},
        {'name': 'Bordeaux-style Red Blend', 'value': 4213},
        {'name': 'Zinfandel', 'value': 3790},
        {'name': 'Malbec', 'value': 2960},
        {'name': 'Sangiovese', 'value': 2874},
        {'name': 'Tempranillo', 'value': 2515},
        {'name': 'Rosé', 'value': 2148},
        {'name': 'Sparkling Blend', 'value': 1745},
        {'name': 'Shiraz', 'value': 1592},
        {'name': 'Nebbiolo', 'value': 1525},
        {'name': 'Rhône-style Red Blend', 'value': 1434},
        {'name': 'Corvina, Rondinella, Molinara', 'value': 1292},
        {'name': 'Cabernet Franc', 'value': 1257},
        {'name': 'Barbera', 'value': 959},
        {'name': 'Sangiovese Grosso', 'value': 938},
        {'name': 'Petite Sirah', 'value': 878},
        {'name': 'Gewürztraminer', 'value': 752},
        {'name': 'Tempranillo Blend', 'value': 734},
        {'name': 'Grenache', 'value': 589},
        {'name': 'Albariño', 'value': 529},
        {'name': 'Garnacha', 'value': 397},
        {'name': "Nero d'Avola", 'value': 375},
        {'name': 'Torrontés', 'value': 363},
        {'name': 'Dolcetto', 'value': 332},
        {'name': 'Meritage', 'value': 308},
        {'name': 'Gamay', 'value': 298},
        {'name': 'Montepulciano', 'value': 272},
        {'name': 'Aglianico', 'value': 259},
        {'name': 'Primitivo', 'value': 224},
        {'name': 'Tinta de Toro', 'value': 221},
        {'name': 'Cabernet Blend', 'value': 209},
        {'name': 'Petit Verdot', 'value': 183},
        {'name': 'Mourvèdre', 'value': 166},
        {'name': 'Bonarda', 'value': 152},
        {'name': 'G-S-M', 'value': 151},
        {'name': 'Monastrell', 'value': 148},
        {'name': 'Mencía', 'value': 146},
        {'name': 'Cabernet Sauvignon-Merlot', 'value': 145},
        {'name': 'Friulano', 'value': 136},
        {'name': 'Port', 'value': 132},
        {'name': 'Fiano', 'value': 131},
        {'name': 'Pinot Nero', 'value': 113},
        {'name': 'Grillo', 'value': 111},
        {'name': 'Cabernet Sauvignon-Syrah', 'value': 100},
        {'name': 'Tannat', 'value': 96},
        {'name': 'Prugnolo Gentile', 'value': 90},
        {'name': 'Tempranillo-Cabernet Sauvignon', 'value': 85},
        {'name': 'Shiraz-Viognier', 'value': 84},
        {'name': 'Sagrantino', 'value': 82},
        {'name': 'Tinto del Pais', 'value': 81},
        {'name': 'Malbec-Merlot', 'value': 79},
        {'name': 'Shiraz-Cabernet Sauvignon', 'value': 78},
        {'name': 'Tinto Fino', 'value': 75},
        {'name': 'Negroamaro', 'value': 72},
        {'name': 'Nerello Mascalese', 'value': 71},
        {'name': 'Petite Verdot', 'value': 70},
        {'name': 'Cabernet Sauvignon-Shiraz', 'value': 67},
        {'name': 'Grenache-Syrah', 'value': 61},
        {'name': 'Tempranillo-Garnacha', 'value': 60},
        {'name': 'Malbec-Cabernet Sauvignon', 'value': 58},
        {'name': 'Carignano', 'value': 58},
        {'name': 'Lambrusco', 'value': 54},
        {'name': 'Cabernet Merlot', 'value': 46},
        {'name': 'Syrah-Grenache', 'value': 45},
        {'name': 'Carmenère', 'value': 43},
        {'name': 'Grüner Veltliner', 'value': 43},
        {'name': 'Cabernet Sauvignon-Malbec', 'value': 40},
        {'name': 'Charbono', 'value': 40},
        {'name': 'Merlot-Cabernet Sauvignon', 'value': 37},
        {'name': 'Claret', 'value': 37},
        {'name': 'Lagrein', 'value': 36},
        {'name': 'Cannonau', 'value': 35},
        {'name': 'Syrah-Cabernet', 'value': 33},
        {'name': 'Graciano', 'value': 31},
        {'name': 'Frappato', 'value': 30},
        {'name': 'Shiraz-Grenache', 'value': 27},
        {'name': 'Tannat-Cabernet', 'value': 27},
        {'name': 'Carignan', 'value': 27},
        {'name': 'Rosato', 'value': 26},
        {'name': 'Teroldego', 'value': 26},
        {'name': 'Carignane', 'value': 25},
        {'name': 'Cinsault', 'value': 25},
        {'name': 'Lemberger', 'value': 24},
        {'name': 'Brachetto', 'value': 24},
        {'name': 'Cabernet Sauvignon-Cabernet Franc', 'value': 24},
        {'name': 'Tempranillo-Shiraz', 'value': 23},
        {'name': 'Rosado', 'value': 23},
        {'name': 'Norton', 'value': 22},
        {'name': 'Prieto Picudo', 'value': 22},
        {'name': 'Provence red blend', 'value': 22},
        {'name': 'Piedirosso', 'value': 21},
        {'name': 'Pinotage', 'value': 21},
        {'name': 'Garnacha-Syrah', 'value': 20},
        {'name': 'Pinot Meunier', 'value': 19},
        {'name': 'Tempranillo-Merlot', 'value': 18},
        {'name': 'Cabernet', 'value': 17},
        {'name': 'Raboso', 'value': 17},
        {'name': 'Counoise', 'value': 16},
        {'name': 'Bobal', 'value': 16},
        {'name': 'Corvina', 'value': 16},
        {'name': 'Chambourcin', 'value': 16},
        {'name': 'Merlot-Cabernet Franc', 'value': 16},
        {'name': 'Malbec-Syrah', 'value': 16},
        {'name': 'Nero di Troia', 'value': 16},
        {'name': 'Syrah-Petite Sirah', 'value': 14},
        {'name': 'Black Muscat', 'value': 13},
        {'name': 'Monastrell-Syrah', 'value': 13},
        {'name': 'Gamay Noir', 'value': 13},
        {'name': 'Uva di Troia', 'value': 12},
        {'name': 'Grenache-Shiraz', 'value': 12},
        {'name': 'Merlot-Malbec', 'value': 11},
        {'name': 'Cabernet-Syrah', 'value': 11},
        {'name': 'Negrette', 'value': 11},
        {'name': 'Perricone', 'value': 11},
        {'name': 'Cabernet Sauvignon-Sangiovese', 'value': 11},
        {'name': 'Touriga Nacional', 'value': 11},
        {'name': 'Tinta Fina', 'value': 11},
        {'name': 'Gaglioppo', 'value': 11},
        {'name': 'Blaufränkisch', 'value': 10},
        {'name': 'Alicante', 'value': 10},
        {'name': 'Syrah-Cabernet Sauvignon', 'value': 10},
        {'name': 'Aleatico', 'value': 10},
        {'name': 'Monica', 'value': 10},
        {'name': 'Grenache-Carignan', 'value': 9},
        {'name': 'Alicante Bouschet', 'value': 9},
        {'name': 'Baco Noir', 'value': 9},
        {'name': 'Mataro', 'value': 9},
        {'name': 'Tannat-Cabernet Franc', 'value': 9},
        {'name': "Cesanese d'Affile", 'value': 9},
        {'name': 'Cabernet Franc-Merlot', 'value': 9},
        {'name': 'Grenache Blend', 'value': 8},
        {'name': 'Shiraz-Tempranillo', 'value': 8},
        {'name': 'Merlot-Cabernet', 'value': 8},
        {'name': 'Malbec-Tannat', 'value': 8},
        {'name': 'Trepat', 'value': 8},
        {'name': 'Ciliegiolo', 'value': 7},
        {'name': 'Syrah-Viognier', 'value': 7},
        {'name': 'Malbec-Tempranillo', 'value': 7},
        {'name': 'Schiava', 'value': 7},
        {'name': 'Carignan-Grenache', 'value': 7},
        {'name': 'Dornfelder', 'value': 6},
        {'name': 'Cabernet Sauvignon-Carmenère', 'value': 4},
        {'name': 'Saperavi', 'value': 3},
        {'name': 'Zweigelt', 'value': 3},
        {'name': 'Touriga Franca', 'value': 2},
        {'name': 'Madeira Blend', 'value': 1}]}]}]}]}

In [ ]:
sun_white_final = sunburst_white_variety.copy()
sun_white_final.columns = ["name", "value"]
# red_final["value"] = scaler.fit_transform(red_final["tooltip"].values.reshape(-1,1))*100

sun_white_final = json.loads(sun_white_final.to_json(orient="records"))
sun_data_white_final = {
    "children":[{"count":9131, "name":"White Wine", 
    "children":[{"count":116, "name":"variety",
    "children":[{"count":57, "name":"Province",
    "count":8958,
    "name":"Winery",
    "children": sun_white_final
}]}]}]}
sun_data_white_final

In [ ]:
with open('data_white.json', 'w') as fp:
    json.dump(sun_data_white_final, fp)

In [ ]:
with open('data_red.json', 'w') as fp:
    json.dump(sun_data_red_final, fp)

In [ ]:
sunburtst_variety_red = sunburst_red["variety"].value_counts().to_frame()
sunburtst_variety_white = sunburst_white["variety"].value_counts().to_frame()
sunburtst_variety_red.info()

In [ ]:
sunburtst_variety_white.info()

In [ ]:
sunburtst_province_red = sunburst_red["province"].value_counts().to_frame()
sunburtst_province_white = sunburst_white["province"].value_counts().to_frame()
sunburtst_province_red.info()

In [ ]:
sunburtst_province_white.info()

In [ ]:
sunburtst_winery_red = sunburst_red["winery"].value_counts().to_frame()
sunburtst_winery_white = sunburst_white["winery"].value_counts().to_frame()
sunburtst_winery_white

In [ ]:
sunburst_white_province = sunburst_white.value_counts([ 'province']).to_frame().reset_index(drop=False)
sunburst_white_province = sunburst_white_variety.rename(columns = {0: 'count'})

# sunburst_white_variety = sunburst_white_variety.loc[:, ["province", "count" ]]
sunburst_white_province

In [ ]:
sunburst_red_province = sunburst_red.value_counts([ 'province']).to_frame().reset_index(drop=False)
sunburst_red_province = sunburst_red_variety.rename(columns = {0: 'count'})

# sunburst_red_variety = sunburst_red_variety.loc[:, ["province", "count" ]]
sunburst_red_province

In [ ]:
sun_red_province = sunburst_red_province.copy()
sun_red_province.columns = ["name", "value" ]
# red_final["value"] = scaler.fit_transform(red_final["tooltip"].values.reshape(-1,1))*100

sun_red_province = json.loads(sun_red_province.to_json(orient="records"))
sun_data_red_province_final = {
    "name":"Wines",
    "children":[{"count":208, "name":"Red Wine", 
    "children":[{"count":150, "name":"variety",
    "count":58,
    "value":"Province",
    "children": sun_red_province
}]}]}
sun_data_red_province_final

In [ ]:
sun_white_province_final = sunburst_white_variety.copy()
sun_white_province_final.columns = ["name", "value"]
# red_final["value"] = scaler.fit_transform(red_final["tooltip"].values.reshape(-1,1))*100

sun_white_province_final = json.loads(sun_white_province_final.to_json(orient="records"))
sun_data_white_province_final = {
    "children":[{"count":173, "name":"White Wine", 
    "children":[{"count":116, "name":"variety",
    "count":57,
    "value":"Winery",
    "children": sun_white_final
}]}]}
sun_data_white_province_final

In [125]:
Top_100_Red
Top_100_Red_sb = Top_100_Red.loc[:, ["type", "variety", "province", "winery", ]]
Top_100_Red_sb.describe()

            type variety province        winery
count        100     100      100           100
unique         1      15        9            40
top     red wine   Syrah  Tuscany  Le Macchiole
freq         100      19       37            13

In [128]:
sb_variety_100 = Top_100_Red_sb.value_counts(['variety']).to_frame().reset_index(drop=False)
sb_variety_100 = sunburst_red_variety.rename(columns = {0: 'count'})


sb_variety_100 = sb_variety_100.loc[:, ["variety", "count" ]]
sb_variety_100

                          variety  count
0                      Pinot Noir  12193
1              Cabernet Sauvignon  10955
2                       Red Blend   8181
3                           Syrah   5075
4                          Merlot   4291
..                            ...    ...
145  Cabernet Sauvignon-Carmenère      4
146                      Saperavi      3
147                      Zweigelt      3
148                Touriga Franca      2
149                 Madeira Blend      1

[150 rows x 2 columns]

In [129]:
sb_red_province = sb_variety_100.copy()
sb_red_province.columns = ["name", "value" ]
# red_final["value"] = scaler.fit_transform(red_final["tooltip"].values.reshape(-1,1))*100

sb_red_province = json.loads(sb_red_province.to_json(orient="records"))
sb_red_province_final = {
    "name":"Wines",
    "children":[{"count":208, "name":"Red Wine", 
    "children":[{"count":150, "name":"variety",
    "count":58,
    "value":"Province",
    "children": sb_red_province
}]}]}
sb_red_province_final

{'name': 'Wines',
 'children': [{'count': 208,
   'name': 'Red Wine',
   'children': [{'count': 58,
     'name': 'variety',
     'value': 'Province',
     'children': [{'name': 'Pinot Noir', 'value': 12193},
      {'name': 'Cabernet Sauvignon', 'value': 10955},
      {'name': 'Red Blend', 'value': 8181},
      {'name': 'Syrah', 'value': 5075},
      {'name': 'Merlot', 'value': 4291},
      {'name': 'Bordeaux-style Red Blend', 'value': 4213},
      {'name': 'Zinfandel', 'value': 3790},
      {'name': 'Malbec', 'value': 2960},
      {'name': 'Sangiovese', 'value': 2874},
      {'name': 'Tempranillo', 'value': 2515},
      {'name': 'Rosé', 'value': 2148},
      {'name': 'Sparkling Blend', 'value': 1745},
      {'name': 'Shiraz', 'value': 1592},
      {'name': 'Nebbiolo', 'value': 1525},
      {'name': 'Rhône-style Red Blend', 'value': 1434},
      {'name': 'Corvina, Rondinella, Molinara', 'value': 1292},
      {'name': 'Cabernet Franc', 'value': 1257},
      {'name': 'Barbera', 'value': 959},
      {'name': 'Sangiovese Grosso', 'value': 938},
      {'name': 'Petite Sirah', 'value': 878},
      {'name': 'Gewürztraminer', 'value': 752},
      {'name': 'Tempranillo Blend', 'value': 734},
      {'name': 'Grenache', 'value': 589},
      {'name': 'Albariño', 'value': 529},
      {'name': 'Garnacha', 'value': 397},
      {'name': "Nero d'Avola", 'value': 375},
      {'name': 'Torrontés', 'value': 363},
      {'name': 'Dolcetto', 'value': 332},
      {'name': 'Meritage', 'value': 308},
      {'name': 'Gamay', 'value': 298},
      {'name': 'Montepulciano', 'value': 272},
      {'name': 'Aglianico', 'value': 259},
      {'name': 'Primitivo', 'value': 224},
      {'name': 'Tinta de Toro', 'value': 221},
      {'name': 'Cabernet Blend', 'value': 209},
      {'name': 'Petit Verdot', 'value': 183},
      {'name': 'Mourvèdre', 'value': 166},
      {'name': 'Bonarda', 'value': 152},
      {'name': 'G-S-M', 'value': 151},
      {'name': 'Monastrell', 'value': 148},
      {'name': 'Mencía', 'value': 146},
      {'name': 'Cabernet Sauvignon-Merlot', 'value': 145},
      {'name': 'Friulano', 'value': 136},
      {'name': 'Port', 'value': 132},
      {'name': 'Fiano', 'value': 131},
      {'name': 'Pinot Nero', 'value': 113},
      {'name': 'Grillo', 'value': 111},
      {'name': 'Cabernet Sauvignon-Syrah', 'value': 100},
      {'name': 'Tannat', 'value': 96},
      {'name': 'Prugnolo Gentile', 'value': 90},
      {'name': 'Tempranillo-Cabernet Sauvignon', 'value': 85},
      {'name': 'Shiraz-Viognier', 'value': 84},
      {'name': 'Sagrantino', 'value': 82},
      {'name': 'Tinto del Pais', 'value': 81},
      {'name': 'Malbec-Merlot', 'value': 79},
      {'name': 'Shiraz-Cabernet Sauvignon', 'value': 78},
      {'name': 'Tinto Fino', 'value': 75},
      {'name': 'Negroamaro', 'value': 72},
      {'name': 'Nerello Mascalese', 'value': 71},
      {'name': 'Petite Verdot', 'value': 70},
      {'name': 'Cabernet Sauvignon-Shiraz', 'value': 67},
      {'name': 'Grenache-Syrah', 'value': 61},
      {'name': 'Tempranillo-Garnacha', 'value': 60},
      {'name': 'Malbec-Cabernet Sauvignon', 'value': 58},
      {'name': 'Carignano', 'value': 58},
      {'name': 'Lambrusco', 'value': 54},
      {'name': 'Cabernet Merlot', 'value': 46},
      {'name': 'Syrah-Grenache', 'value': 45},
      {'name': 'Carmenère', 'value': 43},
      {'name': 'Grüner Veltliner', 'value': 43},
      {'name': 'Cabernet Sauvignon-Malbec', 'value': 40},
      {'name': 'Charbono', 'value': 40},
      {'name': 'Merlot-Cabernet Sauvignon', 'value': 37},
      {'name': 'Claret', 'value': 37},
      {'name': 'Lagrein', 'value': 36},
      {'name': 'Cannonau', 'value': 35},
      {'name': 'Syrah-Cabernet', 'value': 33},
      {'name': 'Graciano', 'value': 31},
      {'name': 'Frappato', 'value': 30},
      {'name': 'Shiraz-Grenache', 'value': 27},
      {'name': 'Tannat-Cabernet', 'value': 27},
      {'name': 'Carignan', 'value': 27},
      {'name': 'Rosato', 'value': 26},
      {'name': 'Teroldego', 'value': 26},
      {'name': 'Carignane', 'value': 25},
      {'name': 'Cinsault', 'value': 25},
      {'name': 'Lemberger', 'value': 24},
      {'name': 'Brachetto', 'value': 24},
      {'name': 'Cabernet Sauvignon-Cabernet Franc', 'value': 24},
      {'name': 'Tempranillo-Shiraz', 'value': 23},
      {'name': 'Rosado', 'value': 23},
      {'name': 'Norton', 'value': 22},
      {'name': 'Prieto Picudo', 'value': 22},
      {'name': 'Provence red blend', 'value': 22},
      {'name': 'Piedirosso', 'value': 21},
      {'name': 'Pinotage', 'value': 21},
      {'name': 'Garnacha-Syrah', 'value': 20},
      {'name': 'Pinot Meunier', 'value': 19},
      {'name': 'Tempranillo-Merlot', 'value': 18},
      {'name': 'Cabernet', 'value': 17},
      {'name': 'Raboso', 'value': 17},
      {'name': 'Counoise', 'value': 16},
      {'name': 'Bobal', 'value': 16},
      {'name': 'Corvina', 'value': 16},
      {'name': 'Chambourcin', 'value': 16},
      {'name': 'Merlot-Cabernet Franc', 'value': 16},
      {'name': 'Malbec-Syrah', 'value': 16},
      {'name': 'Nero di Troia', 'value': 16},
      {'name': 'Syrah-Petite Sirah', 'value': 14},
      {'name': 'Black Muscat', 'value': 13},
      {'name': 'Monastrell-Syrah', 'value': 13},
      {'name': 'Gamay Noir', 'value': 13},
      {'name': 'Uva di Troia', 'value': 12},
      {'name': 'Grenache-Shiraz', 'value': 12},
      {'name': 'Merlot-Malbec', 'value': 11},
      {'name': 'Cabernet-Syrah', 'value': 11},
      {'name': 'Negrette', 'value': 11},
      {'name': 'Perricone', 'value': 11},
      {'name': 'Cabernet Sauvignon-Sangiovese', 'value': 11},
      {'name': 'Touriga Nacional', 'value': 11},
      {'name': 'Tinta Fina', 'value': 11},
      {'name': 'Gaglioppo', 'value': 11},
      {'name': 'Blaufränkisch', 'value': 10},
      {'name': 'Alicante', 'value': 10},
      {'name': 'Syrah-Cabernet Sauvignon', 'value': 10},
      {'name': 'Aleatico', 'value': 10},
      {'name': 'Monica', 'value': 10},
      {'name': 'Grenache-Carignan', 'value': 9},
      {'name': 'Alicante Bouschet', 'value': 9},
      {'name': 'Baco Noir', 'value': 9},
      {'name': 'Mataro', 'value': 9},
      {'name': 'Tannat-Cabernet Franc', 'value': 9},
      {'name': "Cesanese d'Affile", 'value': 9},
      {'name': 'Cabernet Franc-Merlot', 'value': 9},
      {'name': 'Grenache Blend', 'value': 8},
      {'name': 'Shiraz-Tempranillo', 'value': 8},
      {'name': 'Merlot-Cabernet', 'value': 8},
      {'name': 'Malbec-Tannat', 'value': 8},
      {'name': 'Trepat', 'value': 8},
      {'name': 'Ciliegiolo', 'value': 7},
      {'name': 'Syrah-Viognier', 'value': 7},
      {'name': 'Malbec-Tempranillo', 'value': 7},
      {'name': 'Schiava', 'value': 7},
      {'name': 'Carignan-Grenache', 'value': 7},
      {'name': 'Dornfelder', 'value': 6},
      {'name': 'Cabernet Sauvignon-Carmenère', 'value': 4},
      {'name': 'Saperavi', 'value': 3},
      {'name': 'Zweigelt', 'value': 3},
      {'name': 'Touriga Franca', 'value': 2},
      {'name': 'Madeira Blend', 'value': 1}]}]}]}

In [51]:
Top_100_Red
Top_100_Red_sb = Top_100_Red.loc[:, ["type", "variety", "province", "winery", ]]
Top_100_Red_sb.describe()

            type variety province        winery
count        100     100      100           100
unique         1      15        9            40
top     red wine   Syrah  Tuscany  Le Macchiole
freq         100      19       37            13

In [53]:
group_data_red = Top_100_Red_sb.groupby(['type','variety','province']).size()
group_data_red

type      variety                   province
red wine  Bordeaux-style Red Blend  Bordeaux            1
                                    California          4
                                    Washington          2
          Cabernet Blend            California          6
          Cabernet Franc            Tuscany             4
          Cabernet Sauvignon        California          9
                                    Oregon              3
                                    Washington          1
          Merlot                    Tuscany            14
          Nebbiolo                  Piedmont            4
          Pinot Noir                California         11
          Prugnolo Gentile          Tuscany             5
          Red Blend                 California          1
                                    Tuscany             8
          Sangiovese                Tuscany             2
          Sangiovese Grosso         Tuscany             1
          Shiraz                    South Australia     2
          Sparkling Blend           California          2
          Syrah                     Oregon              7
                                    Rhône Valley        4
                                    South Australia     1
                                    Tuscany             3
                                    Washington          4
          Tinto Fino                Northern Spain      1
dtype: int64

In [46]:
Top_100_White
Top_100_White_sb = Top_100_White.loc[:, ["type", "variety", "province", "winery", ]]
Top_100_White_sb.describe()

              type     variety   province            winery
count          100         100        100               100
unique           1           9          8                36
top     white wine  Chardonnay  Champagne  Domaine Leflaive
freq           100          39         29                10

In [50]:
group_data = Top_100_White_sb.groupby(['type','variety','province']).size()
group_data

type        variety                     province
white wine  Bordeaux-style White Blend  Bordeaux              12
            Champagne Blend             California             1
                                        Champagne             24
            Chardonnay                  Burgundy              23
                                        California            11
                                        Champagne              5
            Muscadel                    Victoria               3
            Muscat                      Victoria               7
            Picolit                     Northeastern Italy     2
            Pinot Gris                  Alsace                 4
            Tokay                       Victoria               5
            White Blend                 Tuscany                3
dtype: int64

In [154]:
group_data.to_csv('group_data.csv', index=True)

In [155]:
group_data.to_json('group_data.js', index=True)

In [140]:
Top_100_White_sb.groupby('type')[['variety','province','winery']].apply(lambda g: g.values.tolist()).to_dict()

{'red wine': [['Syrah', 'Oregon', 'Cayuse'],
  ['Merlot', 'Tuscany', "Tenuta dell'Ornellaia"],
  ['Cabernet Sauvignon', 'California', 'Shafer'],
  ['Syrah', 'Oregon', 'Cayuse'],
  ['Pinot Noir', 'California', 'Williams Selyem'],
  ['Prugnolo Gentile', 'Tuscany', 'Avignonesi'],
  ['Cabernet Sauvignon', 'California', 'Cardinale'],
  ['Pinot Noir', 'California', 'Williams Selyem'],
  ['Cabernet Blend', 'California', 'Sloan'],
  ['Merlot', 'Tuscany', "Tenuta dell'Ornellaia"],
  ['Red Blend', 'Tuscany', 'Giovanni Chiappini'],
  ['Syrah', 'Oregon', 'Cayuse'],
  ['Red Blend', 'Tuscany', 'Giovanni Chiappini'],
  ['Cabernet Blend', 'California', 'Sloan'],
  ['Merlot', 'Tuscany', "Tenuta dell'Ornellaia"],
  ['Cabernet Sauvignon', 'California', 'Cardinale'],
  ['Prugnolo Gentile', 'Tuscany', 'Avignonesi'],
  ['Syrah', 'Washington', 'Charles Smith'],
  ['Nebbiolo', 'Piedmont', 'Mascarello Giuseppe e Figlio'],
  ['Red Blend', 'California', 'Colgin'],
  ['Merlot', 'Tuscany', 'Le Macchiole'],
  ['Prugnolo Gentile', 'Tuscany', 'Avignonesi'],
  ['Syrah', 'Oregon', 'Cayuse'],
  ['Sangiovese', 'Tuscany', 'Il Marroneto'],
  ['Prugnolo Gentile', 'Tuscany', 'Avignonesi'],
  ['Merlot', 'Tuscany', 'Le Macchiole'],
  ['Prugnolo Gentile', 'Tuscany', 'Avignonesi'],
  ['Cabernet Sauvignon', 'California', 'Trefethen'],
  ['Cabernet Blend', 'California', 'Harlan Estate'],
  ['Merlot', 'Tuscany', "Tenuta dell'Ornellaia"],
  ['Red Blend', 'Tuscany', "Tenuta dell'Ornellaia"],
  ['Cabernet Blend', 'California', 'Harlan Estate'],
  ['Syrah', 'Rhône Valley', 'E. Guigal'],
  ['Red Blend', 'Tuscany', "Tenuta dell'Ornellaia"],
  ['Syrah', 'Oregon', 'Cayuse'],
  ['Syrah', 'Rhône Valley', 'E. Guigal'],
  ['Nebbiolo', 'Piedmont', 'Gaja'],
  ['Merlot', 'Tuscany', "Tenuta dell'Ornellaia"],
  ['Merlot', 'Tuscany', 'Le Macchiole'],
  ['Bordeaux-style Red Blend', 'Bordeaux', 'Château Latour'],
  ['Cabernet Sauvignon', 'California', 'Stonestreet'],
  ['Red Blend', 'Tuscany', 'Tenuta San Guido'],
  ['Syrah', 'Oregon', 'Cayuse'],
  ['Nebbiolo', 'Piedmont', 'Gaja'],
  ['Syrah', 'Rhône Valley', 'E. Guigal'],
  ['Cabernet Sauvignon', 'Washington', 'Quilceda Creek'],
  ['Syrah', 'Washington', 'Charles Smith'],
  ['Red Blend', 'Tuscany', "Tenuta dell'Ornellaia"],
  ['Pinot Noir', 'California', 'Williams Selyem'],
  ['Syrah', 'Oregon', 'Cayuse'],
  ['Pinot Noir', 'California', 'Williams Selyem'],
  ['Syrah', 'Washington', 'Charles Smith'],
  ['Cabernet Sauvignon', 'California', 'David Arthur'],
  ['Cabernet Sauvignon', 'California', 'Coup de Foudre'],
  ['Cabernet Sauvignon', 'Oregon', 'Cayuse'],
  ['Syrah', 'Tuscany', 'Le Macchiole'],
  ['Sangiovese Grosso', 'Tuscany', 'Casanova di Neri'],
  ['Merlot', 'Tuscany', 'Le Macchiole'],
  ['Syrah', 'Tuscany', 'Le Macchiole'],
  ['Syrah', 'Washington', 'Charles Smith'],
  ['Bordeaux-style Red Blend', 'California', 'BOND'],
  ['Cabernet Sauvignon', 'Oregon', 'Cayuse'],
  ['Pinot Noir', 'California', 'Goldeneye'],
  ['Cabernet Sauvignon', 'Oregon', 'Cayuse'],
  ['Sangiovese', 'Tuscany', 'Conti Costanti'],
  ['Syrah', 'Tuscany', 'Le Macchiole'],
  ['Pinot Noir', 'California', 'Williams Selyem'],
  ['Merlot', 'Tuscany', 'Fattoria Petrolo'],
  ['Bordeaux-style Red Blend', 'California', 'Verité'],
  ['Shiraz', 'South Australia', 'Torbreck'],
  ['Syrah', 'Rhône Valley', 'E. Guigal'],
  ['Merlot', 'Tuscany', 'Fattoria Petrolo'],
  ['Pinot Noir', 'California', 'Williams Selyem'],
  ['Cabernet Franc', 'Tuscany', 'Le Macchiole'],
  ['Bordeaux-style Red Blend', 'Washington', 'Figgins'],
  ['Nebbiolo', 'Piedmont', 'Gaja'],
  ['Merlot', 'Tuscany', 'Le Macchiole'],
  ['Pinot Noir', 'California', 'Flowers'],
  ['Pinot Noir', 'California', 'Williams Selyem'],
  ['Cabernet Blend', 'California', 'Rubicon Estate'],
  ['Cabernet Franc', 'Tuscany', 'Le Macchiole'],
  ['Cabernet Franc', 'Tuscany', 'Le Macchiole'],
  ['Cabernet Franc', 'Tuscany', 'Le Macchiole'],
  ['Cabernet Sauvignon', 'California', 'Harlan Estate'],
  ['Cabernet Sauvignon', 'California', 'Von Strasser'],
  ['Tinto Fino', 'Northern Spain', 'Emilio Moro'],
  ['Syrah', 'South Australia', 'Clarendon Hills'],
  ['Pinot Noir', 'California', 'Williams Selyem'],
  ['Pinot Noir', 'California', 'Goldeneye'],
  ['Bordeaux-style Red Blend', 'Washington', 'Pirouette'],
  ['Bordeaux-style Red Blend', 'California', 'Harlan Estate'],
  ['Sparkling Blend', 'California', 'Iron Horse'],
  ['Sparkling Blend', 'California', 'Schramsberg'],
  ['Merlot', 'Tuscany', 'Fattoria Petrolo'],
  ['Merlot', 'Tuscany', 'Le Macchiole'],
  ['Red Blend', 'Tuscany', "Tenuta dell'Ornellaia"],
  ['Shiraz', 'South Australia', 'Penfolds'],
  ['Red Blend', 'Tuscany', "Tenuta dell'Ornellaia"],
  ['Cabernet Blend', 'California', 'Rubicon Estate'],
  ['Bordeaux-style Red Blend', 'California', 'Colgin']]}

In [141]:
sb_variety_100_f = Top_100_White_sb.value_counts(['variety']).to_frame().reset_index(drop=False)
sb_variety_100_f = sb_variety_100_f.rename(columns = {0: 'count'})


sb_variety_100_f = sb_variety_100_f.loc[:, ["variety", "count" ]]
sb_variety_100_f

                     variety  count
0                      Syrah     19
1                     Merlot     14
2         Cabernet Sauvignon     13
3                 Pinot Noir     11
4                  Red Blend      9
5   Bordeaux-style Red Blend      7
6             Cabernet Blend      6
7           Prugnolo Gentile      5
8                   Nebbiolo      4
9             Cabernet Franc      4
10           Sparkling Blend      2
11                    Shiraz      2
12                Sangiovese      2
13                Tinto Fino      1
14         Sangiovese Grosso      1

In [142]:
sb_red_variety_f = sb_variety_100_f.copy()
sb_red_variety_f.columns = ["name", "value" ]
# red_final["value"] = scaler.fit_transform(red_final["tooltip"].values.reshape(-1,1))*100

sb_red_variety_f = json.loads(sb_red_variety_f.to_json(orient="records"))
sb_red_variety_fi = {
    "name":"Wines",
    "children":[{"count":208, "name":"Red Wine", 
#     "children":[{"count":150, "name":"variety",
    "count":15,
    "value":"Variety",
    "children": sb_red_variety_f
}]}
# ]}
sb_red_variety_fi

{'name': 'Wines',
 'children': [{'count': 15,
   'name': 'Red Wine',
   'value': 'Variety',
   'children': [{'name': 'Syrah', 'value': 19},
    {'name': 'Merlot', 'value': 14},
    {'name': 'Cabernet Sauvignon', 'value': 13},
    {'name': 'Pinot Noir', 'value': 11},
    {'name': 'Red Blend', 'value': 9},
    {'name': 'Bordeaux-style Red Blend', 'value': 7},
    {'name': 'Cabernet Blend', 'value': 6},
    {'name': 'Prugnolo Gentile', 'value': 5},
    {'name': 'Nebbiolo', 'value': 4},
    {'name': 'Cabernet Franc', 'value': 4},
    {'name': 'Sparkling Blend', 'value': 2},
    {'name': 'Shiraz', 'value': 2},
    {'name': 'Sangiovese', 'value': 2},
    {'name': 'Tinto Fino', 'value': 1},
    {'name': 'Sangiovese Grosso', 'value': 1}]}]}

In [147]:
sb_province_100_f = Top_100_White_sb.value_counts(['variety','province']).to_frame().reset_index(drop=False)
sb_province_100_f = sb_province_100_f.rename(columns = {0: 'count'})


# sb_province_100_f = sb_province_100_f.loc[:, ["province", "count" ]]
sb_province_100_f

                     variety         province  count
0                     Merlot          Tuscany     14
1                 Pinot Noir       California     11
2         Cabernet Sauvignon       California      9
3                  Red Blend          Tuscany      8
4                      Syrah           Oregon      7
5             Cabernet Blend       California      6
6           Prugnolo Gentile          Tuscany      5
7                      Syrah       Washington      4
8             Cabernet Franc          Tuscany      4
9   Bordeaux-style Red Blend       California      4
10                     Syrah     Rhône Valley      4
11                  Nebbiolo         Piedmont      4
12        Cabernet Sauvignon           Oregon      3
13                     Syrah          Tuscany      3
14  Bordeaux-style Red Blend       Washington      2
15                    Shiraz  South Australia      2
16           Sparkling Blend       California      2
17                Sangiovese          Tuscany      2
18                Tinto Fino   Northern Spain      1
19        Cabernet Sauvignon       Washington      1
20                 Red Blend       California      1
21         Sangiovese Grosso          Tuscany      1
22                     Syrah  South Australia      1
23  Bordeaux-style Red Blend         Bordeaux      1

In [145]:
sb_red_province_f = sb_province_100_f.copy()
sb_red_province_f.columns = ["name", "value" ]
# red_final["value"] = scaler.fit_transform(red_final["tooltip"].values.reshape(-1,1))*100

sb_red_province_f = json.loads(sb_red_province_f.to_json(orient="records"))
sb_red_province_fi = {
#     "name":"Wines",
#     "children":[{"count":208, "name":"Red Wine", 
#     "children":[{"count":150, "name":"variety",
    "count":15,
    "value":"Province",
    "children": sb_red_province_f
}
# ]}]}
sb_red_province_fi

{'count': 15,
 'value': 'Province',
 'children': [{'name': 'Tuscany', 'value': 37},
  {'name': 'California', 'value': 33},
  {'name': 'Oregon', 'value': 10},
  {'name': 'Washington', 'value': 7},
  {'name': 'Rhône Valley', 'value': 4},
  {'name': 'Piedmont', 'value': 4},
  {'name': 'South Australia', 'value': 3},
  {'name': 'Northern Spain', 'value': 1},
  {'name': 'Bordeaux', 'value': 1}]}

In [132]:
Top_100_White_sb.to_json('Top_100_White_sb.js', index=False)

ValueError: 'index=False' is only valid when 'orient' is 'split' or 'table'